/* ==========================================================================
   Global: Animations
   ========================================================================== */

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
