/* ==========================================================================
   Global: Charts
   ========================================================================== */

.big-stats {
  @extend .prose, .prose--responsive;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $base-color;
  display: flex;

  > li {
    margin-right: 2rem;
  }

  strong {
    display: inline-flex;
    background-image: linear-gradient($secondary-color, $secondary-color);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 0.5rem;
    font-family: $heading-font-family;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: $heading-font-bold;
    font-feature-settings: normal;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    vertical-align: top;
    margin: 0 0 0.5rem 0;

    @include media(large-up) {
      font-size: 4.5rem;
      background-size:100% 0.75rem;
    }
  }

  span {
    display: block;
  }

  > * {
    margin: 0;
  }
}
