/* ==========================================================================
   Global: content
   ========================================================================== */

.go-link {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: $heading-font-family;
  font-weight: $heading-font-bold;

  &,
  * {
    display: inline-flex;
  }

  &::after {
    @extend %openaq-ds-icon-oaq-32-arrow-right;
    font-size: 2rem;
    line-height: inherit;
    margin-left: 0.375rem;
    transform: translate(0, 0.015em);
  }
}


/* Special button for inpage header
   ========================================================================== */

.button-inpage-share {
  @extend .button, .button--base, .button--medium;
  &::before {
    @extend %openaq-ds-icon-share;
  }
}

.share-opt-facebook {
  &::before {
    margin-right: 0.5rem;
    @extend %openaq-ds-icon-brand-facebook;
  }
}

.share-opt-twitter {
  &::before {
    margin-right: 0.5rem;
    @extend %openaq-ds-icon-brand-twitter;
  }
}

.general-message {
  @extend .antialiased;
  background: $primary-color;
  color: #fff;
  padding: 2rem;
  min-height: 32rem;
  height: 100%;
  display: flex;
  align-items: center;

  a, a:visited {
    display: inline-flex;
    color: inherit;
    background: rgba(#fff, 0.12);
    padding: 0 0.5rem;
    vertical-align: top;
  }

  h1 {
    @include heading(1.75rem, large-up);
    color: inherit;
  }

  > .inner {
    @extend .constrainer;
    text-align: center;
  }

  .prose > *:last-child {
    margin-bottom: 0;
  }
}

.disclaimer {
  display: block;
}


/* Lists
   ========================================================================== */

.global-details-list {
  dt {
    font-family: $heading-font-family;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: $base-color;
  }

  dd {
    margin-bottom: 1rem;
  }
}

.global-table th {
    font-family: $heading-font-family;
    line-height: 1rem;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: $base-color;
}
