/* ==========================================================================
   Global: content
   ========================================================================== */


/* Special button for inpage header
   ========================================================================== */

.button-inpage-download {
  @extend .button, .button--medium, .button--primary-bounded;

  &:before {
    @extend %openaq-ds-icon-download;
  }
}

.button-inpage-api {
  @extend .button, .button--medium, .button--primary-bounded;

  &:before {
    @extend %openaq-ds-icon-code;
  }
}

.button-inpage-share {
  @extend .button, .button--base, .button--medium;
  &::before {
    @extend %openaq-ds-icon-share;
  }
}

.share-opt-facebook {
  &::before {
    margin-right: 0.5rem;
    @extend %openaq-ds-icon-facebook;
  }
}
.share-opt-twitter {
  &::before {
    margin-right: 0.5rem;
    @extend %openaq-ds-icon-twitter;
  }
}

.general-message {
  background-image: url(../graphics/content/page-hero-default.png);
  position: relative;
  color: $base-font-color;
  padding: 12rem 0 18rem 0;
  margin-top: -$page-header-y;
  background-color: tint($base-color, 92%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  > .inner {
    @extend .row, .row--centered;
    text-align: center;
  }

  h2 {
    margin-bottom: 0;
  }
  p {
    font-size: 1rem;
    font-family: $heading-font-family;
    color: tint($base-color, 32%);
  }
}

.disclaimer {
  display: block;
}