/* ==========================================================================
   Global: Folds
   ========================================================================== */

.fold {
  background: #fff;
  padding: ($global-spacing * 4) 0;

  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;
  }

  @include media(large-up) {
    padding: ($global-spacing * 8) 0;
  }

  > .inner {
    @extend .constrainer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    grid-template-rows: auto;
  }

  > .inner,
  .fold__header,
  .fold__body,
  .fold__teaser,
  .fold__media {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.fold__title {
  @extend .heading;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;

  @include media(medium-up) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  @include media(large-up) {
    font-size: 3.25rem;
    line-height: 3.75rem;
  }
}

.fold__subtitle {
  @extend .heading-alt;
  background: transparent url('/assets/graphics/layout/oaq-icon-illu-40-swirl.svg') no-repeat left center;
  padding: 0 0 0 3.25rem;
  margin-bottom: 1.5rem;
}

.fold__media {
  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.fold__main-action {
  display: flex;

  > * {
    min-width: 10rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}


/* Modifiers
   ========================================================================== */

.fold--semi-light {
  background: tint($base-color, 96%);
}

.fold--dark {
  @extend .antialiased;
  background: $primary-color;
  color: #fff;

  .fold__title {
    color: inherit;
  }
}

.fold--type-a {
  > .inner {
    align-items: center;
  }

  .fold__header {
    grid-row: 1;
    grid-column: 1 / span 12;

    @include media(medium-up) {
      grid-column: 7 / span 6;
    }

    @include media(large-up) {
      grid-column: 8 / span 5;
    }
  }

  .fold__media {
    grid-row: 2;
    grid-column: 1 / span 12;

    @include media(medium-up) {
      grid-row: 1;
      grid-column: 1 / span 6;
    }
  }
}

.fold--type-b {
  > .inner {
    align-items: center;
  }

  .fold__header {
    grid-row: 1;
    grid-column: 1 / span 12;

    @include media(medium-up) {
      grid-column: 1 / span 6;
    }

    @include media(large-up) {
      grid-column: 1 / span 5;
    }
  }

  .fold__media {
    grid-row: 2;
    grid-column: 1 / span 12;

    @include media(medium-up) {
      grid-row: 1;
      grid-column: 7 / span 6;
    }
  }
}
