/* ==========================================================================
   Global: Inpages
   ========================================================================== */

$page-header-y: $global-spacing * 5;

.inpage {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;

  &__header {
    position: relative;
    color: $base-font-color;
    padding: ($global-spacing * 4) 0;
    background-color: #fff;

    /* Animation */
    transition: all 0.16s ease 0s;
    animation: reveal 0.32s ease 0s 1;

    @include media(large-up) {
      padding: ($global-spacing * 6) 0;
    }

    > * {
      position: relative;
      z-index: 2;
    }

    > .inner {
      @extend .constrainer;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      grid-template-rows: auto;

      @include media(medium-up) {
        grid-template-columns: repeat(8, 1fr);
      }

      @include media(large-up) {
        grid-template-columns: repeat(12, 1fr);
      }
    }

    &--jumbo {
      min-height: calc(100vh - 4rem);
      justify-content: flex-start;

      @include media(large-up) {
        min-height: 44rem;
        justify-content: center;
      }

      > .inner {
        @include media(large-up) {
          align-items: center;
        }
      }
    }
  }

  &__headline {
    grid-row: 1;
    grid-column: 1 / -1;

    @include media(large-up) {
      grid-column: 1 / span 6;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @extend .heading;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;

    @include media(medium-up) {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    @include media(large-up) {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    small {
      display: block;
    }
  }

  &__subtitle {
    @extend .heading-alt;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;

    @include media(medium-up) {
      position: absolute;
      transform: translate(0, -100%);
    }
  }

  &__introduction {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;

    @include media(medium-up) {
      font-size: 1.25rem;
      line-height: 2rem;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__body {
    /* Animation */
    animation: reveal 0.48s ease 0s 1;

    > .inner {
      @extend .constrainer;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      grid-template-rows: auto;

      @include media(medium-up) {
        grid-template-columns: repeat(8, 1fr);
      }

      @include media(large-up) {
        grid-template-columns: repeat(12, 1fr);
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  > .inner > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__aside,
.inpage__content {
  padding: ($global-spacing * 4) 0;

  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;
  }

  @include media(large-up) {
    padding: ($global-spacing * 8) 0;
  }
}

.inpage__aside {
  grid-row: 1;
  grid-column: 1 / -1;

  @include media(medium-up) {
    grid-column: 1 / span 3;
  }

  @include media(large-up) {
    grid-column: 1 / span 3;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__content {
  grid-row: 2;
  grid-column: 1 / -1;

  @include media(medium-up) {
  }
  @include media(large-up) {
  }



  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__aside + .inpage__content {
  @include media(medium-down) {
    margin-top: -6rem;
  }
}


/* Inpage media
   ========================================================================== */

.inpage__media--stripe {
  @extend .constrainer;
  margin-bottom: 0;

  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  &:last-child:not(:first-child) {
    margin-top: ($global-spacing * 2);
    margin-bottom: -($global-spacing * 6);

    @include media(large-up) {
      margin-top: ($global-spacing * 4);
      margin-bottom: -($global-spacing * 10);
    }
  }

  .media__item {
    margin-right: calc(50% - 50vw);
  }
}

.inpage__media--cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0;

  .media__item {
    &,
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      content: '';
    }

    img {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  figcaption {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 5;

    @include media(small-up) {
      right: 1.5rem;
      bottom: 1rem;
    }

    @include media(medium-up) {
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }
}


/* Dark theme modifier
   ========================================================================== */

.page--dark {
  .inpage__header {
    @extend .antialiased;
    background-color: $primary-color;
    color: #fff;
    display: flex;
    padding: ($global-spacing * 8) 0;

    @include media(medium-up) {
      padding: ($global-spacing * 10) 0;
    }

    @include media(large-up) {
      padding: ($global-spacing * 12) 0;
    }
  }

  .inpage__title {
    color: inherit;
  }

  .inpage__subtitle {
    color: rgba(#fff, 0.48);
  }

  .inpage__introduction {
    color: #fff;

    a, a:visited {
      display: inline-flex;
      color: inherit;
      background: rgba(#fff, 0.12);
      padding: 0 0.5rem;
      vertical-align: top;
    }
  }
}


/* Inpage header actions
   ========================================================================== */

.ipha {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;

  > li {
    margin: 0.25rem 0.5rem 0.25rem 0;
  }
}

/**
 * "ipha-" prefix stands for "inpage header actions"
 */

[class^="ipha-"],
[class*=" ipha-"] {
  @extend .button, .button--large, .button--white-bounded, .button--capsule;
  display: block;
}

.ipha-api {
  &::before {
    @extend %openaq-ds-icon-code;
  }
}

.ipha-download {
  &::before {
    @extend %openaq-ds-icon-download;
  }
}

.ipha-compare {
  &::before {
    @extend %openaq-ds-icon-swap-horizontal;
  }
}

.ipha-main {
  @extend .button--primary-ghost;
}


/* Inpage body layout
   ========================================================================== */

.inpage__diptych {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  grid-template-rows: auto;
}
