/* ==========================================================================
   Join Fold
   ========================================================================== */

.join-fold {
  @extend .antialiased;
  background: $primary-color;
  color: #fff;
  padding: ($global-spacing * 4) 0;
  text-align: center;

  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;

  }

  @include media(large-up) {
    padding: ($global-spacing * 8) 0;
    text-align: left;
  }

  > .inner {
    @extend .constrainer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    grid-template-rows: auto;
    align-items: center;
  }

  > .inner,
  .join-fold__header {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.join-fold__title {
  @extend .heading;
  color: inherit;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;

  @include media(medium-up) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include media(large-up) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.join-fold__header {
  grid-row: 1;
  grid-column: 1 / span 12;

  @include media(large-up) {
    grid-column: 2 / span 4;
  }
}

.join-fold__cards {
  grid-row: 2;
  grid-column: 1 / span 12;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  @include media(large-up) {
    grid-row: 1;
    grid-column: 7 / span 6;
    flex-flow: row nowrap;
  }

  > * {
    margin-bottom: $global-spacing * 2;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.card--join {
  align-items: stretch;
  width: 100%;
  max-width: 24rem;

  @include media(large-up) {
    max-width: 14rem;
    min-height: 20rem;
  }

  &:first-of-type {
    @include media(large-up) {
      transform: translate(-0.5rem, -2rem);
    }
  }

  &:last-of-type {
    @include media(large-up) {
      transform: translate(0.5rem, 2rem);
    }
  }

  .card__contents {
    @include media(medium-down) {
      display: grid;
      grid-template-columns: 4rem 1fr;
    }
  }

  .card__media {
    @include media(medium-down) {
      padding-bottom: 0;
      padding-right: 0;
    }
  }

  .card__header {
    padding-bottom: $global-spacing / 2;

    @include media(medium-down) {
      grid-column: 2;
      padding-top: $contained-spacing;
      align-items: center;
    }
  }

  .card__body {
    @include media(medium-down) {
      grid-column: 2;
    }
  }

  .card__footer {
    @include media(medium-down) {
      grid-column: 2;
    }
  }
}

.join-card__go-link {
  @extend .button, .button--primary, .button--large, .button--capsule;
  width: 100%;
  max-width: 10rem;
}
