/* ==========================================================================
   Global: Map
   ========================================================================== */

.map {
  position: relative;
  height: 100%;

  &__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  &__legend {
    @extend %card-skin;
    position: absolute;
    bottom: $global-spacing;
    left: $global-spacing;
    right: $global-spacing;
    z-index: 20;
  
    max-width: 24rem;
    padding: $contained-spacing;
    overflow: hidden;

    @include media(medium-up) {
      bottom: $global-spacing * 2;
      left: $global-spacing * 2;
    }
  }
}

.color-scale {
  @extend .clearfix;
  list-style: none;
  padding: 0 0 1.25rem 0;
  margin: 0;

  &__item {
    float: left;
    line-height: 1rem;
  }

  &__value {
    position: relative;
    bottom: -1rem;
    z-index: 1;
    font-size: 0.75rem;
  }
}
