/* ==========================================================================
   Global: Messages
   ========================================================================== */

.info-msg {
  @include col(12/12);

  background: #fff;
  box-shadow: 0 0 0 1px $base-semi-alpha-color;
  border-radius: $base-border-radius;
  padding: 3rem;
  margin-bottom: 2rem;
  text-align: center;

  @include media(medium-up) {
    @include col(10/12, $offset: 1/12);
  }

  @include media(large-up) {
    @include col(8/12, $offset: 2/12);
  }

  &__contents {
    > *:last-child {
      margin-bottom: 0;
    }
  }

}

.data-loading-msg {
  text-align: center;

  &--default {
    background-color: tint($base-color, 88%);
    padding: 4rem 0;
    margin-bottom: 2rem;
  }

  &--minimal {
    background-color: rgba($base-color, 0.08);
    padding: 1rem 0;
  }

  .wind-animated {
    width: 10rem;
  }

  p {
    margin-bottom: 0;
  }

  .fold--filled & {
    background-color: tint($base-color, 80%);
  }
}

.wind-animated .wind {
  fill: none;
  stroke: $base-color;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards infinite;
}

@keyframes dash {
  to { stroke-dashoffset: 0;}
  0% { opacity: 0;}
  15% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: 0;}
}
