/* ==========================================================================
   Global: Modal
   ========================================================================== */

// The header has a z-index of 100000, but the modal has to show on top
// TODO: Review all these weird z-indexes
.modal {
  z-index: 1000000 !important;
}

#modal-download, #modal-vote {
  .modal__inner {
    width: 100%;
  }

  .modal__description {
    font-family: $heading-font-family;
    text-align: center;
  }
}

.button-modal-download {
  @extend .button, .button--primary;

  &:before {
    @extend %openaq-ds-icon-download;
  }
}

.button-modal-vote {
  @extend .button, .button--primary;
}