/* ==========================================================================
   Global: Pages
   ========================================================================== */

html, body, #app-container, .page--map {
  // Make page have always 100% height.
  // To ensure that when we have absolutely positioned elements the page still
  // takes up the full viewport. Ex: map page.
  min-height: 100vh;
  background: #fff;
}

html.unscrollable-y {
  height: auto;
}

html {
  // The map using bleed-full was creating some horizontal offset because
  // the scroll bar was not being taken into account when using vw.
  // By forcing the scroll the bar is always taken into account.
  overflow-y: scroll;
}

.page {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}


/* Header
   ========================================================================== */

.page__header {
  position: relative;
  z-index: 10;

  /* Animation */
  animation: reveal 0.32s ease 0s 1;
}

.page__title {
  @extend .visually-hidden;
}

.news-banner {
  @extend .antialiased;
  position: absolute;
  width: 100%;
  background-color: $base-color;
  padding: $global-spacing 0;
  color: #fff;

  .inner {
    @extend .constrainer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    @include media(medium-up) {
      flex-flow: row;
    }
  }

  &__msg {
    margin: 0 0 $global-spacing 0;

    @include media(medium-up) {
      margin: 0 $global-spacing * 2 0 0;
    }
  }

  &__actions {
    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .msg-status {
    border: 1px solid $secondary-color;
    border-radius: $full-border-radius;
    color: $secondary-color;
    padding: 0 $global-spacing / 2;
    margin: 0 $global-spacing / 2 0 0;
  }

  &__close {
    @extend .button, .button--small, .button--achromic-unbounded, .button--text-hidden;
    position: absolute;
    right: $global-spacing;

    &::before {
      @extend %openaq-ds-icon-xmark--small;
    }

    @include media(small-up) {
      right: $global-spacing * 2;
    }
  
    @include media(xlarge-up) {
      right: $global-spacing * 4;
    }
  }

  @include media(xsmall-only) {
    /* Ensure the correct display on small screens */
    .inner {
      padding-top: 0.5rem;
    }

    .news-banner__close {
      top: -0.5rem;
    }
  }
}

/* Body
   ========================================================================== */

.page__body {
  @extend .clearfix;
}


/* Footer
   ========================================================================== */

.page__footer {
  padding: ($global-spacing * 3) 0;
  background: #fff;
  box-shadow: 0 -1px 0 0 $base-semi-alpha-color;

  /* Animation */
  animation: reveal 0.64s ease 0s 1;

  @include media(medium-up) {
    padding: ($global-spacing * 4) 0;
  }

  > .inner {
    @extend .constrainer;
  }
}

.page__foot-title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: $base-font-bold;
  text-transform: uppercase;
  margin: 0 0 2rem 0;

  a {
    display: inline-block;
    vertical-align: top;
    color: inherit;

    span {
      @extend .visually-hidden;
    }
  }
}

.page__foot-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-template-rows: auto;
  margin: 0 0 2rem 0;

  @include media(medium-up) {
    margin-bottom: 3rem;
    grid-template-columns: repeat(8, 1fr);
  }

  @include media(large-up) {
    margin-bottom: 4rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

.foot-nav-block {
  h2 {
    font-weight: $heading-font-bold;
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

.foot-nav-block:nth-child(1) {
  grid-row: 1;
  grid-column: 1 / -1;

  @include media(medium-up) {
    grid-column: 1 / span 8;
  }

  @include media(large-up) {
    grid-column: 1 / span 4;
  }

  h2 {
    @extend .visually-hidden;
  }
}

.foot-nav-block:nth-child(2) {
  grid-row: 2;
  grid-column: 1 / span 2;

  @include media(medium-up) {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  @include media(large-up) {
    grid-row: 1;
    grid-column: 5 / span 2;
  }
}

.foot-nav-block:nth-child(3) {
  grid-row: 2;
  grid-column: 3 / span 2;

  @include media(medium-up) {
    grid-column: 3 / span 2;
  }

  @include media(large-up) {
    grid-row: 1;
    grid-column: 7 / span 2;
  }
}

.foot-nav-block:nth-child(4) {
  grid-row: 3;
  grid-column: 1 / span 2;

  @include media(medium-up) {
    grid-row: 2;
    grid-column: 5 / span 2;
  }

  @include media(large-up) {
    grid-row: 1;
    grid-column: 9/ span 2;
  }
}

.foot-nav-block:nth-child(5) {
  grid-row: 3;
  grid-column: 3 / span 2;

  @include media(medium-up) {
    grid-row: 2;
    grid-column: 7 / span 2;
  }

  @include media(large-up) {
    grid-row: 1;
    grid-column: 11 / span 2;
  }
}

.connect-menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;

  > * {
    margin-right: 1rem;
  }

  > *:first-child {
    margin-left: -0.5rem;
  }

  a {
    @extend .button, .button--base-unbounded, .button--capsule, .button--text-hidden;

    &::before {
      font-size: 1.25rem;
      opacity: 0.48;
    }
  }
}

.connect-menu__link--github::before {
  @extend %openaq-ds-icon-brand-github;
}

.connect-menu__link--slack::before {
  @extend %openaq-ds-icon-brand-slack;
}

.connect-menu__link--twitter::before {
  @extend %openaq-ds-icon-brand-twitter;
}

.connect-menu__link--email::before {
  @extend %openaq-ds-icon-envelope;
}

.foot-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  a,
  a:visited {
    color: rgba($base-color, 0.56);
  }
}

.foot-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-template-rows: auto;
  color: rgba($base-color, 0.56);

  @include media(large-up) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.foot-newsletter {
  grid-row: 1;
  grid-column: 1 / span 2;

  @include media(large-up) {
    grid-column: 7 / span 6;
    display: flex;
    flex-wrap: nowrap;
  }

  h2 {
    font-weight: $heading-font-bold;
    font-size: 0.875rem;
    line-height: 1rem;

    @include media(large-up) {
      margin: 0 1rem 0 0;
      line-height: 2rem;
    }
  }

  form {
    flex: 1;
  }

  .button--subscribe {
    @extend .button, .button--primary, .button--text-hidden, .button--medium;

    &::before {
      @extend %openaq-ds-icon-arrow-right;
    }
  }
}

.foot-copyright {
  grid-row: 2;
  grid-column: 1 / span 2;
  font-size: 0.875rem;
  margin: 0;

  @include media(large-up) {
    grid-row: 1;
    grid-column: 1 / span 6;
    padding-top: 0.375rem;
  }
}
