/* ==========================================================================
   Global: Pages
   ========================================================================== */

html {
  overflow-y: scroll;
}

.page {
  background: #fff;
}

/* Header
   ========================================================================== */

.page__header {
  position: relative;
  z-index: 100000;
  background: transparent;
  color: $base-font-color;
  box-shadow: 0 2px 0 0 $base-semi-alpha-color;

  > .inner {
    @extend .clearfix, .row, .row--centered;
  }
}

/* Headline */

.page__headline {
  float: left;
  padding: $global-spacing 0;
}

.page__title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: $base-font-bold;
  text-transform: uppercase;
  margin: 0;

  a {
    display: inline-block;
    vertical-align: top;
    color: inherit;
  }
}


/* Body
   ========================================================================== */

.page__body {
  @extend .clearfix;
}


/* Footer
   ========================================================================== */

.page__footer {
  // background: tint($base-color, 92%);
  padding: 2rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  > .inner {
    @extend .row, .row--centered;
  }

  *:last-child {
    margin-bottom: 0;
  }
}


/* Dark theme modifier
   ========================================================================== */

.page--dark {
  .page__header {
    @extend .antialiased;
    color: #fff;
    box-shadow: 0 2px 0 0 rgba(#fff, 0.08);
  }
}