/* ==========================================================================
   Global: Page Prime Nav
   ========================================================================== */

.page__prime-nav {
  @extend .antialiased;
  color: $base-font-color;
}

.nav__home-link {
  margin-right: auto;

  @include media(large-up) {
    margin-right: 0;
  }

  span {
    @extend .visually-hidden;
  }
}

.nav__group {
  background: #fff;
  color: $base-font-color;
  box-shadow: 0 4px 16px 0 $base-semi-alpha-color;

  .inner {
    @extend .constrainer;
  }
}

.nav__group--main {
  position: relative;
  z-index: 10;

  .inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: $global-spacing;
    padding-bottom: $global-spacing;

    @include media(large-up) {
      justify-content: space-between;
    }

    > *:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.nav__group--sub {
  @include media(large-up) {
    position: absolute;
    width: 100%;
  }

  .inner {
    padding-top: $global-spacing * 2;
    padding-bottom: $global-spacing * 2;

    @include media(large-up) {
      padding-top: $global-spacing * 3;
      padding-bottom: $global-spacing * 3;
      min-height: 12rem;
      display: flex;
      align-items: center;
    }
  }
}

.nav__action-link,
.nav__burguer-link {
  @extend .button, .button--large, .button--capsule;
}

.nav__action-link {
  @extend .button--primary;
  min-width: 10rem;

  @include media(large-up) {
    order: 10;
  }
}

.nav__burguer-link {
  @extend .button--primary-unbounded, .button--text-hidden;

  &::before {
    @extend %openaq-ds-icon-oaq-24-hamburguer-menu;
    font-size: 1.5rem;
  }

  &--alt {
    &::before {
      @extend %openaq-ds-icon-oaq-24-xmark;
    }
  }
}

.global-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;

  @include media(large-up) {
    flex-flow: row nowrap;
    margin: -$global-spacing 0;
  }

  > li {
    margin: 0 0 1.5rem 0;

    @include media(large-up) {
      margin: 0 1rem;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.global-menu__link {
  font-family: $heading-font-family;
  display: block;
  font-size: 1.75rem;
  line-height: 2.25rem;
  display: flex;
  align-items: center;

  @include media(large-up) {
    font-weight: $heading-font-bold;
    font-size: 0.875rem;
    line-height: 5rem;
  }

  &, &:visited {
    color: $base-color;
  }

  &--active {
    @include media(large-up) {
      box-shadow: inset 0 -0.25rem 0 0 $primary-color;
    }
  }
}

.global-menu__link--alt {
  &::after {
    @extend %openaq-ds-icon-oaq-32-arrow-right;
    font-size: 2rem;
    margin-left: 0.5rem;
    color: $primary-color;

    @include media(large-up) {
      content: "\F106";
      font-size: 1rem;
      margin-left: 0.25rem;
      transform: none;
    }
  }
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 2rem;
  flex: 1;

  @include media(large-up) {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    align-items: flex-end;
  }

  h5 {
    margin: 0;
    font-weight: $heading-font-bold;
    font-size: inherit;
    line-height: 1.25rem;

    &::before {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 0.5rem;
      display: block;
    }
  }
}

.sub-menu__link {
  font-family: $heading-font-family;
  display: block;
  font-size: 0.875rem;

  &, &:visited {
    color: $base-color;
  }

  p {
    opacity: 0.64;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.sub-menu__link--locations h5::before {
  @extend %openaq-ds-icon-oaq-32-marker;
}

.sub-menu__link--countries h5::before {
  @extend %openaq-ds-icon-oaq-32-flag;
}

.sub-menu__link--map h5::before {
  @extend %openaq-ds-icon-oaq-32-globe;
}

.sub-menu__link--api h5::before {
  @extend %openaq-ds-icon-oaq-32-api;
}

.nav__title--sub {
  font-family: $heading-font-family;
  display: block;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;

  @include media(large-up) {
    display: none;
  }

  a {
    display: block;
    display: flex;
    align-items: center;
    color: inherit;

    &::before {
      @extend %openaq-ds-icon-oaq-32-arrow-left;
      font-size: 2rem;
      margin-right: 0.5rem;
      transform: translate(0, 0.05em);
      color: $primary-color;
    }
  }
}
