/* ==========================================================================
   Global: Testimonials
   ========================================================================== */

.testimonials {
  padding: ($global-spacing * 4) 0;

  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;
  }

  @include media(large-up) {
    padding: ($global-spacing * 8) 0;
  }

  > .inner {
    @extend .constrainer;
  }
}

.testimonials__title {
  @extend .visually-hidden;
}

.testimonials-list {
  @extend .antialiased;
  background: $tertiary-color;
  color: #fff;
  list-style: none;
  padding: 2rem;
  margin: 0;

  @include media(medium-up) {
    padding: 4rem;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-template-rows: auto;
  align-items: center;
  padding: 0;
  margin: 0;

  @include media(medium-up) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include media(large-up) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.testimonial__copy {
  grid-row: 2;
  grid-column: 1 / -1;

  @include media(medium-up) {
    grid-row: 1;
    grid-column: 5 / span 4;
  }

  @include media(large-up) {
    grid-column: 8 / span 5;
  }
}

.testimonial__media {
  grid-row: 1;
  grid-column: 1 / -1;
  margin-top: -6rem;

  @include media(medium-up) {
    grid-column: 1 / span 4;
  }

  @include media(large-up) {
    grid-column: 1 / span 6;
  }

  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.testimonial__quote {
  @extend .heading;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 2.5rem;
  color: inherit;

  @include media(medium-up) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include media(large-up) {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  > *:first-child::before {
    content: '"'
  }

  > *:last-child::after {
    content: '"'
  }
}

.testimonial__footer {
  color: inherit;

  strong {
    @extend .heading-alt;
    display: block;
  }

  small {
    font-size: inherit;
  }

  &::before {
    content: none;
  }
}
