/* ==========================================================================
   Workshop Fold
   ========================================================================== */

.workshop-fold {
  @extend .antialiased;
  background: $primary-color;
  color: #fff;
  padding: ($global-spacing * 4) 0;
  text-align: center;

  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;

  }

  @include media(large-up) {
    padding: ($global-spacing * 8) 0;
    text-align: left;
  }

  > .inner {
    @extend .constrainer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    grid-template-rows: auto;
    align-items: center;
  }

  > .inner,
  .workshop-fold__header {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.workshop-fold__title {
  @extend .heading;
  color: inherit;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;

  @include media(medium-up) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include media(large-up) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.workshop-fold__header {
  grid-row: 1;
  grid-column: 1 / span 12;

  @include media(large-up) {
    grid-column: 2 / span 4;
  }
}

.workshop-fold__media {
  grid-row: 2;
  grid-column: 1 / span 12;
  margin: 0;
  text-align: center;

  @include media(large-up) {
    grid-row: 1;
    grid-column: 8 / span 5;
  }

  img {
    width: 100%;
    max-width: 28rem;
    height: auto;
    vertical-align: top;
  }
}

.workshop-go-button {
  @extend .button, .button--large, .button--primary-ghost, .button--capsule;
  min-width: 12rem;
}
