{{ define "main" }}
{{ partial "breadcrumbs" . }}
<div class="blog-content">
    
    {{ partial "bubbles" }}


    <div class="blog-content-container">
        <div>
            <h1 class="type-display-1 gradient-title">{{ .Title }}</h1>
            <div class="items">
                <a href="" target="_blank" rel="noreferrer noopener" class="placeholder-item"><article class="blog-item">
                    <span class="blog-date type-header-3"></span>
                    <div class="blog-content">
                    <div class="blog-content__title"><h5 class="type-subtitle-1 text-sky-120"></h5></div>
                    <div class="blog-content__body"><p class="type-body-2"></p>
                    </div>
                    </div>
                </article></a>


            </div>
        </div>
    </div>
</div>
{{ partial "community-banner" . }}
{{ partial "explore-banner" . }}
{{ end }}


{{ define "scripts" }}
{{ $js := resources.Get "js/blog.js" | js.Build | resources.Minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>

{{ end }}