/* ==========================================================================
   Map: Content
   ========================================================================== */

.page--map {
  grid-template-rows: auto 1fr;

  .inpage {
    grid-template-rows: 1fr;
  }

  .inpage__header,
  .page__footer {
    @extend .visually-hidden;
  }

  .inpage__body {
    position: relative;
    z-index: 1;
  }

  .map {
    position: static;
  }
  .map__container {
    top: 0;
  }

  .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin-top: 5.25rem;
    margin-right: 1rem;
  }
}

.mapboxgl-popup-anchor-top, .mapboxgl-popup-anchor-top-left, .mapboxgl-popup-anchor-top-right{
  top: 12px;
}

.mapboxgl-popup-anchor-bottom, .mapboxgl-popup-anchor-bottom-left, .mapboxgl-popup-anchor-bottom-right{
  top: -10px;
}
