{{ define "main" }}
{{ partial "breadcrumbs" . }}

<div class="single-article-content">
  {{ partial "bubbles" }}


  <div class="single-article-content-container">

    <h1 class="type-display-1 gradient-title">{{ .Title }}</h1>

    <article class="single-article-body">
      {{ .Content }}
    </article>

      <div class="social-links">        
        <button class="icon-btn btn-secondary js-copy-button">
          <span class="js-copy-button__text">Copy link</span>
          <span class="google-icon">
            <img src="/icons/content_copy--ocean120.svg" alt="icon">
          </span>
        </button>
        <a href="https://www.facebook.com/openaq/" class="social-circle">
            <img src="/svg/facebook.svg" alt="facebook">
        </a>
        <a href="https://twitter.com/openaq" class="social-circle"><img src="/svg/twitter.svg" alt="twitter"></a>
        <a href="https://www.linkedin.com/company/openaq" class="social-circle"><img src="/svg/linkedin.svg" alt="linkedin"></a>
    </div>
  </div>
</div>

{{ partial "social-banner" . }}
{{ partial "explore-banner" . }}
{{ end }}

{{ define "scripts" }}
{{ $js := resources.Get "js/copy-to-clipboard.js" | js.Build | resources.Minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>
{{ end }}