/* ==========================================================================
   Compare: Brush Chart
   ========================================================================== */

.brush-chart {
  // TEMP
  height: 30rem;

  .axis {
    text {
      fill: rgba($base-font-color, 0.64);
      font-size: 0.75rem;
    }
    .domain {
      stroke: rgba($base-font-color, 0.24);
      stroke-width: 1px
    }
  }
  .axis-brush .domain {
    transform: translate(0, 0.5px);
  }

  .brush .selection {
    fill: $base-color;
    fill-opacity: 0.16;
    stroke: $base-color;
    stroke-opacity: 0.32;
  }

  .location-data {
    opacity: 0.64;
    &--st circle {
      fill: $infographic-color-a;
    }
    &--nd circle {
      fill: $infographic-color-b;
    }
    &--rd circle {
      fill: $infographic-color-c;
    }
  }
}

