/* ==========================================================================
   Compare: Brush Chart
   ========================================================================== */

.brush-chart {
  // TEMP
  height: 30rem;

  .axis {
    text {
      fill: $base-color;
    }
    .domain {
      stroke: $base-color;
      stroke-width: 2px
    }
  }
  .axis-brush .domain {
    transform: translate(0, 0.5px);
  }

  .location-data {
    &--st circle {
      fill: $infographic-color-a;
    }
    &--nd circle {
      fill: $infographic-color-b;
    }
    &--rd circle {
      fill: $infographic-color-c;
    }
  }
}

