baseURL = 'https://openaq.org/'
languageCode = 'en-us'
title = 'OpenAQ'
theme = 'openaq'
copyright = "{year} OpenAQ. All rights reserved."
enableGitInfo = true

[markup]
  defaultMarkdownHandler = "goldmark"
  [goldmark]
    [Extensions]
      footnote = true

[frontmatter]
  date = ['date', 'publishDate', 'lastmod']
  expiryDate = ['expiryDate']
  lastmod = [':git', 'lastmod', 'date', 'publishDate']
  publishDate = ['publishDate', 'date']

[build]
  writeStats = true

[permalinks]
  categories = "/use-cases/:slug/"
  tags = "/use-cases/:slug/"

[params]
  plausibleDomain = "openaq.org"
  images = ['/img/site-feature-image.webp']

[module]
  [[module.mounts]]
    source = "./node_modules/openaq-design-system/scss/"
    target = "assets/scss/openaq-design-system"
  [[module.mounts]]
    source = "content/uploads/"
    target = "assets/"