---
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import CommunityBanner from '@components/CommunityBanner.astro';
import ExplorerBanner from '@components/ExplorerBanner.astro';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';

const sponsors = await getEntry('sponsors', 'sponsor');

if (!sponsors) {
  throw new Error('Could not find sponsors');
}

const { Content } = await render(sponsors);
---

<style lang="scss">

@use 'openaq-design-system/scss/variables' as variables;

  .sponsor-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    width: 800px;
    z-index: 2;

    :global(table) {
      border-collapse: collapse;
      :global(thead) {
        background-color: variables.$smoke10;
        height: 50px;
        color: variables.$sky100;

        :global(tr) {
          th {
            margin: 0 auto;
          }
        }
      }
      table,
      th,
      td {
        padding: 12px;
        border: 2px solid variables.$smoke30;

        ul {
          li {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }

    @media (max-width: 800px) {
      max-width: 100vw;
    }
  }
</style>
<PageLayout>
  <h1 class="gradient-title">Sponsor us</h1>

  <section class="sponsor-grid">
    <Content />
  </section>
  <CommunityBanner slot="banner" />
  <ExplorerBanner slot="banner-low" />
</PageLayout>
