{{ define "main" }}


<section class="hero-section">
    <div>
        <div class="hero-title">
            <h1 class="type-heading-1 text-sky-120">
                Fighting air inequality through open data and community.
            </h1>    
            <h3 class="type-subtitle-3">
                OpenAQ is a non-profit organization empowering communities around the globe to clean their air by harmonizing, sharing, and using open air quality data.
            </h3>
            <a class="btn btn-primary learn-more-btn" role="button">Learn More</a>
        </div>
    </div>
    <div>
        <img src="https://via.placeholder.com/700" alt="">
    </div>
</section>



<section class="case-studies-section">
    <div class="cards">
        <article class="card">
            <img class="card__img" src="https://via.placeholder.com/300x225" alt="">
            <div class="card__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quo dolor earum dicta natus nobis ut repellendus vel voluptate quibusdam optio consequatur, voluptas a laborum? Repellendus id veniam est laborum.</p>
            </div>
        </article>
        <article class="card">
            <img class="card__img" src="https://via.placeholder.com/300x225" alt="">
            <div class="card__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quo dolor earum dicta natus nobis ut repellendus vel voluptate quibusdam optio consequatur, voluptas a laborum? Repellendus id veniam est laborum.</p>
            </div>
        </article>
        <article class="card">
            <img class="card__img" src="https://via.placeholder.com/300x225" alt="">
            <div class="card__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quo dolor earum dicta natus nobis ut repellendus vel voluptate quibusdam optio consequatur, voluptas a laborum? Repellendus id veniam est laborum.</p>
            </div>
        </article>
    </div>

</section>



<section class="technology-section">
    <div class="bubble-lg"></div>
    <div class="bubble-sm"></div>
    <div class="technology-section-blurb">
        <div class="technology-section-blurb__content">
            <h2 class="type-heading-1 text-white">One stop data source
            </h2>
            <p class="type-body-2 text-white">OpenAQ aggregates data from hundreds sources worldwide to provide a unified, harmonized and trusted source of air quality data.
            </p>
            <a href="/" class="icon-btn btn-primary">Learn how OpenAQ works 
                <span class="material-symbols-outlined text-white">
                    arrow_forward
                    </span>
            </a>
        </div>
    </div>
    <div class="technology-section__img">
        <img src="svg/data-pipeline.svg" alt="">
    </div>
</section>



<section class="search-section">
    <div class="search-section__img">
        <a href="" class="explore-input-link">
            <input type="text" class="search-input" placeholder="Search for air quality data">
        </a>
        <img src="img/campobasso.webp" alt="">

    </div>
    <div class="search-section-blurb">
        <div class="search-section-blurb__content">
            <h2 class="type-heading-1 text-white">Search for local data
            </h2>
            <p class="type-body-2 text-white">Thousands of people use OpenAQ every day. Our interactive map makes it easy to explore and understand global air quality data.
            </p>
            <a href="https://explore.openaq.org" class="icon-btn btn-primary">Explore the data
                <span class="material-symbols-outlined text-white">
                    arrow_forward
                    </span>
            </a>
        </div>
    </div>    
</section>



<section class="api-section">
    <div class="api-section-blurb">
        <div class="search-section-blurb__content">
            <h2 class="type-heading-1 text-white">Direct API access
            </h2>
            <p class="type-body-2 text-white">Our open API allows applications to connect directly to OpenAQ data. 
                One air quality API provides access to hundred of sources.
            </p>
            <a href="https://docs.openaq.org" class="icon-btn btn-primary">Learn about OpenAQ API
                <span class="material-symbols-outlined text-white">
                    arrow_forward
                    </span>
            </a>
        </div>
    </div>
    <div class="api-section__img">
        <img src="img/code_snippet.webp" alt="">
    </div>
</section>



{{ end }}