{{ define "main" }}


<section class="hero-section">
        <div class="hero-title">
            <h1 class="type-display-1 text-sky-120">
                Fighting air inequality through <br/><span class="text-lavender-100">open data.</span>
            </h1>    
            <h2 class="type-heading-3">
                OpenAQ is a nonprofit organization providing universal access to air quality data to empower a global community of changemakers to solve air inequality—the unequal access to clean air.</h2>
            <a href="/about/" class="btn btn-primary learn-more-btn" role="button">Learn More</a>
        </div>
    {{ partial "hero-image" . }}
</section>



<section class="use-cases-section">
    <div class="featured-use-cases">
        {{ range $index, $page := where (where .Site.RegularPages "Type" "use-cases") "Params.featured" "==" true | first 3 }}
            {{ partial "use-case-card" . }}
        {{ end }}
    </div>

</section>



<section class="technology-section">
    <div class="bubble-lg"></div>
    <div class="bubble-sm"></div>
    <div class="technology-section-blurb">
        <div class="technology-section-blurb__content">
            <h2 class="type-heading-1 text-white">One-stop data source
            </h2>
            <p class="type-body-2 text-white">
                OpenAQ aggregates data from hundreds of sources worldwide, harmonizing and sharing them on our centralized, trusted, open-source data platform. 
            </p>
            <a href="/developers/api-overview/" class="icon-btn btn-primary">Learn how OpenAQ works 
                <span class="google-icon">
                    <img src="/icons/arrow_forward--white.svg" alt="icon">
                  </span>
            </a>
        </div>
    </div>
    <div class="technology-section__img">
        <img src="svg/data-pipeline.svg" alt="">
    </div>
</section>



<section class="search-section">
    <div class="search-section__img">
        <a href="https://explore.openaq.org" class="explore-input-link">
            <input type="text" class="search-input" placeholder="Search for air quality data">
        </a>
        <img src="img/campobasso.webp" alt="">

    </div>
    <div class="search-section-blurb">
        <div class="search-section-blurb__content">
            <h2 class="type-heading-1 text-white">Search for local data
            </h2>
            <p class="type-body-2 text-white">Thousands of people use OpenAQ every day. Our interactive map makes it easy to explore and understand global air quality data.
            </p>
            <a href="https://explore.openaq.org" class="icon-btn btn-primary">Explore the data
                <span class="google-icon">
                    <img src="/icons/arrow_forward--white.svg" alt="icon">
                </span>
            </a>
        </div>
    </div>    
</section>



<section class="api-section">
    <div class="api-section-blurb">
        <div class="api-section-blurb__content">
            <h2 class="type-heading-1 text-white">Direct API access
            </h2>
            <p class="type-body-2 text-white">Our open API allows applications to connect directly to OpenAQ data. 
                One air quality API provides access to hundred of sources.
            </p>
            <a href="https://docs.openaq.org" class="icon-btn btn-primary">Learn about OpenAQ API
                <span class="google-icon">
                    <img src="/icons/arrow_forward--white.svg" alt="icon">
                </span>
            </a>
        </div>
    </div>
    <div class="api-section__img">
        <img src="img/code_snippet.webp" alt="">
    </div>
</section>



{{ end }}