/* ==========================================================================
   Locations: Content
   ========================================================================== */

.inpage {
  @include media(medium-up) {
    .full-flex {
      display: flex;
    }

    &__aside {
      padding-right: $global-spacing;
      box-shadow: 2px 0 0 0 $base-alpha-color;
    }
  }
}

.content-prime-title {
  @include heading(1.25rem);
  
  small {
    display: block;
  }
}

.filters__title,
.filters-summary-title {
  @include heading(1rem);
}

.filters-summary-title {
  margin-bottom: 0.5rem;
}

.filters-summary {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 0 0 $base-alpha-color;
}

.filters {
  margin-bottom: 2rem;

  &__group {
    overflow: hidden;
    box-shadow: 0 2px 0 0 $base-alpha-color, 0 -2px 0 0 $base-alpha-color;

    .scrollarea-inner {
      max-height: 10rem;
    }
    .scrollarea-content {
      padding: 1rem 0;

      .form__option:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &--country {
  }

  &--values {
    .form__option {
      margin: 0 0 0.5rem 0;
      @include col(6/12, $cycle: 2); 
    }
  }
}

.button--filter-pill {
  @extend .button, .button--small;
  background-color: tint($secondary-color, 64%);
  color: $secondary-color;
  margin-right: 0.5rem;

  &::after {
    @extend %openaq-ds-icon-sm-xmark;
  }
}

.content {
  &__meta {
    overflow: hidden;
  }

  &__heading {
    @include media(small-up) {
      float: left;
    }
  }

  &__actions {
    margin-bottom: 1rem;

    h3 {
      @include heading(1rem);
      margin-bottom: 0;
    }

    @include media(small-up) {
      float: right;
    }
  }
}

.inpage__results {
  .card {
    margin-bottom: 2rem;
  }
}

.disclaimers {
  @include col(12/12);
  color: rgba($base-font-color, 0.64);
  font-size: 0.75rem;

  @include media(medium-up) {
    @include col(10/12);
  }

  @include media(large-up) {
    @include col(8/12);
  }
}