/* ==========================================================================
   Locations: Global
   ========================================================================== */

.drop__toggle {
  border: 0.5px solid rgba($base-color, 0.5);
  padding: $global-spacing * 0.5;
  border-radius: $base-border-radius;
  color: $base-color;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &::after {
    @extend %openaq-ds-icon-oaq-32-arrow-right;
    font-size: 2rem;
    margin-left: 0.5rem;
    color: $primary-color;

    @include media(large-up) {
      content: "\F106";
      font-size: 1rem;
      margin-left: 0.25rem;
      transform: none;
    }
  }
}

.filter-pill {
  @extend .button, .button--small;
  background-color: rbga($base-color, 0);
  color: $secondary-color;
  border: 0.5px solid $secondary-color;
  width: min-content;

  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}


.filters {
  display: grid;
  grid-gap: $global-spacing;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  padding: $global-spacing 0;
}
.drop__menu.scrollable {
   max-height: 10rem;
   overflow-y: scroll;
 }



