/* ==========================================================================
   Locations: Hub
   ========================================================================== */

.page--locations-hub {
  .inpage__headline {
    @include media(large-up) {
      grid-column: 1 / span 8;
    }
  }
}

.content-prime-title {
  @include heading(1.5rem, large-up);

  small {
    display: block;
  }
}

.filters__title,
.filters-summary-title {
  @include heading(1rem);
}

.filters-summary-title {
  margin-bottom: 0.5rem;
}

.filters-summary {
  margin-bottom: 1rem;
}

.filters {
  margin-bottom: 2rem;

  &__group {
    overflow: hidden;
    box-shadow: 0 1px 0 0 $base-semi-alpha-color, 0 -1px 0 0 $base-semi-alpha-color;

    .scrollarea-inner {
      max-height: 10rem;
    }
    .scrollarea-content {
      padding: 1rem 0;

      .form__option:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &--country {
  }

  &--values {
    .form__option {
      margin: 0 0 0.5rem 0;
      @include col(6/12, $cycle: 2);
    }
  }
}

.filters {
  display: grid;
  grid-gap: $global-spacing;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  padding: $global-spacing 0;
}
.filters .fold__nav {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters .fold__nav h2 {
  width: auto;
}
.drop__menu.scrollable {
   max-height: 10rem;
   overflow-y: scroll;
}


.filters .drop__toggle {
  border: 0.5px solid rgba($base-color, 0.5);
  padding: $global-spacing * 0.5;
  border-radius: $base-border-radius;
  color: $base-color;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &::after {
    @extend %openaq-ds-icon-oaq-32-arrow-right;
    font-size: 2rem;
    margin-left: 0.5rem;
    color: $primary-color;

    @include media(large-up) {
      content: "\F106";
      font-size: 1rem;
      margin-left: 0.25rem;
      transform: none;
    }
  }
}

.filters .drop__toggle.sort-order {
  grid-column-end: -1;
  border-radius: $base-border-radius * 10;
}

.button--filter-pill {
  @extend .button, .button--small;
  background-color: tint($secondary-color, 64%);
  color: $secondary-color;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  &::after {
    @extend %openaq-ds-icon-xmark--small;
  }
}
.button--filter-pill.orderBy {
  background-color: tint($primary-color, 64%);
  color: $primary-color;

}

.filter-pill {
  @extend .button, .button--small;
  background-color: rbga($base-color, 0);
  color: $secondary-color;
  border: 0.5px solid $secondary-color;
  width: min-content;

  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.content {
  &__header,
  &__meta {
    overflow: hidden;
  }

  &__heading {
    h2 {
      margin-bottom: 0;
    }

    @include media(small-up) {
      float: left;
    }
  }

  &__actions {
    margin-bottom: 1rem;

    h3 {
      @include heading(1rem);
      margin-bottom: 0;
    }

    @include media(small-up) {
      float: right;
    }
  }
}
.page {
  overflow-x: unset;
}
.inpage__content__header {
  top: 0rem;
  position: sticky;
  z-index: 2;
  background: tint($base-color, 100%);
}
.inpage__results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

  .card {
    margin-bottom: 2rem;
  }

  .card__header {
    display: grid;
    grid-gap: 0.5rem;
    .card__tags {
      display: grid;
      width: min-content;
    }
  }

}

.disclaimers {
  @include col(12/12);
  color: rgba($base-font-color, 0.64);
  font-size: 0.75rem;

  @include media(medium-up) {
    @include col(10/12);
  }

  @include media(large-up) {
    @include col(8/12);
  }
}



.pagination .pages__wrapper .pages__page,
.pagination .previous a,
.pagination .next a,  
.pagination .break .pages__page {
  width: 3rem;
  height: 3rem;
  border-radius: unset;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagination .previous a::before,
.pagination .next a::before {
  margin-right: 0;
}


.pagination .pages__wrapper .pages__page,
.pagination .break .pages__page {
  box-shadow: none;
  border: 0.5px solid rgba($base-color, 0.2); 
}

.pagination .break .pages__page {
  background: none;
  border: none;
}


.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));
  grid-template-rows: 1fr;
}
