/* ==========================================================================
   Locations: Hub
   ========================================================================== */

.page--locations-hub {
  .inpage__headline {
    @include media(large-up) {
      grid-column: 1 / span 8;
    }
  }
}

.content-prime-title {
  @include heading(1.5rem, large-up);

  small {
    display: block;
  }
}

.hub-filters {
  // position: sticky;
  // top: 0;
  // background-color: #fff;
  padding: $global-spacing 0;

  > .inner {
    @extend .constrainer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $global-spacing;

    .filters__group {
      grid-column: 1 / -1;
    }

    @include media(medium-up) {
      grid-template-columns: repeat(8, 1fr);
  
      .filters__group:nth-child(1) {
        grid-column: 1 / 6;
      }
    
      .filters__group:nth-child(2) {
        grid-column: 7 / -1;
      }
    }

    @include media(large-up) {
      grid-template-columns: repeat(12, 1fr);
      grid-gap: $global-spacing * 2;
  
      .filters__group:nth-child(1) {
        grid-column: 1 / 8;
      }
    
      .filters__group:nth-child(2) {
        grid-column: 11 / -1;
      }
    }
  }

  h2 {
    @include heading(0.75rem);
    @extend .heading-alt;
  }

  .filter__values {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    align-items: center;
    grid-gap: $global-spacing;
  }

  .filter--drop.sort-order {
    border-radius: $full-border-radius;
  }
}

.filters-summary {
  @extend .constrainer;
  margin-bottom: 1rem;
}

.button--filter-pill {
  @extend .button, .button--small;
  background-color: tint($secondary-color, 64%);
  color: $secondary-color;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  &::after {
    @extend %openaq-ds-icon-xmark--small;
  }
}
.button--filter-pill.orderBy {
  background-color: tint($primary-color, 64%);
  color: $primary-color;
}

.button--pill {
  @extend .button, .button--small, .button--capsule;
  background-color: $primary-color;
  color: white;
}

.content {
  &__header,
  &__meta {
    overflow: hidden;
  }

  &__heading {
    h2 {
      margin-bottom: 0;
    }

    @include media(small-up) {
      float: left;
    }
  }

  &__actions {
    margin-bottom: 1rem;

    h3 {
      @include heading(1rem);
      margin-bottom: 0;
    }

    @include media(small-up) {
      float: right;
    }
  }
}
.page {
  overflow-x: unset;
}
.inpage__content__header {
  top: 0rem;
  position: sticky;
  z-index: 2;
  background: tint($base-color, 100%);
}
.inpage__results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

  .card {
    margin-bottom: 2rem;
  }

  .card__header {
    display: grid;
    grid-gap: 0.5rem;
    .card__tags {
      display: grid;
      width: min-content;
    }
  }
}

.disclaimers {
  @include col(12/12);
  color: rgba($base-font-color, 0.64);
  font-size: 0.75rem;

  @include media(medium-up) {
    @include col(10/12);
  }

  @include media(large-up) {
    @include col(8/12);
  }
}

.pagination .pages__wrapper .pages__page,
.pagination .previous a,
.pagination .next a,
.pagination .break .pages__page {
  width: 3rem;
  height: 3rem;
  border-radius: unset;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagination .previous a::before,
.pagination .next a::before {
  margin-right: 0;
}

.pagination .pages__wrapper .pages__page,
.pagination .break .pages__page {
  box-shadow: none;
  border: 0.5px solid rgba($base-color, 0.2);
}

.pagination .break .pages__page {
  background: none;
  border: none;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));
  grid-template-rows: 1fr;
}
