/* ==========================================================================
   Locations: Single
   ========================================================================== */

.page--locations-single {
  .card__highlight-text {
    color: $primary-color;
  }
  .card__title {
    font-weight: $base-font-bold;
    font-size: 1.25rem;
  }
  .card__meta-details {
    color: $base-color;
    display: flex;
  }

  .inpage__headline {
    @include media(large-up) {
      grid-column: 1 / span 8;
    }
  }

  .fold__header {
    grid-column: 1 / -1;

    @include media(large-up) {
      grid-column: 1 / span 8;
    }
  }

  .fold__body {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .inpage__body .fold:nth-child(even) {
    @extend .fold--semi-light;
  }

  .col-main {
    margin-bottom: 2rem;

    @include media(medium-up) {
      margin-bottom: 0;
    }
  }

  .col-sec {
    @include media(medium-up) {
      @include span(8/12, $offset: 1/12);
    }

    .heading-alt {
      font-size: 0.875rem;
      margin-bottom: 0;

      @include media(medium-up) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .col-main {
    @include media(medium-up) {
      box-shadow: 1px 0 0 0 $base-semi-alpha-color;
      @include span(3/12);
    }
  }
}

/* Filters
   ========================================================================== */

.date-selector-filters {
  @extend .constrainer;
  display: grid;
  grid-gap: $global-spacing;
  margin-top: $global-spacing;
  margin-bottom: $global-spacing;
  grid-template-columns: repeat(1, 1fr);

  .filter--time-window,
  .filter--drop {
    grid-column: 1 / -1;
  }

  @include media(medium-up) {
    grid-template-columns: repeat(9, 1fr);

    .filter--drop {
      grid-column: auto / span 3;
    }
  }

  @include media(large-up) {
    grid-template-columns: repeat(12, 1fr);
    margin-top: $global-spacing * 2;
    margin-bottom: $global-spacing * 2;

    .filter--time-window,
    .filter--drop {
      grid-column: auto / span 3;
    }
  }
}

/* Fold: Dashboard
  ========================================================================== */

.dashboard-cards {
  > .card {
    grid-column: 1 / -1;
  }

  @include media(small-up) {
    .card--details {
      grid-column: 1 / span 2;
    }
    .card--sources {
      grid-row: 1;
      grid-column: 3 / span 2;
    }
  }

  @include media(medium-up) {
    .card--details {
      grid-column-end: span 4;
    }
    .card--sources {
      grid-column: 5 / span 4;
    }
  }
  @include media(large-up) {
    .card--details {
      grid-column-end: span 3;
    }
    .card--sources {
      grid-column: 10 / span 3;
    }

    .card--latest {
      grid-column: 4 / span 6;
    }
  }
}

.card--temporal-coverage {
  .chart__list {
    display: grid;
    grid-gap: $global-spacing;
    grid-template-columns: repeat(1, 1fr);

    @include media(medium-up) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $global-spacing * 2;
    }

    @include media(large-up) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* Fold: Stats
   ========================================================================== */
.measurements-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 1rem;
    margin-right: 2rem;

    &:nth-child(even) {
      clear: right;
    }

    @include media(medium-up) {
      width: 40%;
      float: left;
    }
  }

  strong {
    display: block;
  }
}

/* Fold: Source
   ========================================================================== */

.update-metadata-callout {
  grid-row: 3;
  grid-column: 1 / -1;
}

#location-fold-source {
  .fold__header {
    @extend .visually-hidden;
  }

  .fold__body {
    @extend .clearfix;

    p {
      margin-bottom: 0;
    }
  }

  @include media(medium-up) {
    .col-main {
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      @include col(4/12);
    }

    .col-sec {
      @include col(8/12);
    }
  }

  .sources__list {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.3rem;
    }
  }
}

.source__title {
  @extend .truncated;
  display: block;
  color: $base-color;
  margin: 0;

  &--external {
    color: $primary-color;
    &::before {
      @extend %openaq-ds-icon-share;
      margin-right: 0.25rem;
    }
  }
}

.source__readme {
  color: $base-font-color;
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.sources__info {
  box-shadow: 0 -1px 0 0 $base-alpha-color;
  padding-top: $global-spacing;
  margin-top: -$global-spacing / 2;
}

#location-fold-dataset {
  .fold__body {
    position: relative;
    z-index: 1;
    height: 30rem;
    margin-left: calc(50% - 40vw);
    margin-right: calc(50% - 40vw);
    margin-top: 1rem;
  }
}

/* Fold: Nearby
   ========================================================================== */

#location-fold-nearby {
  .fold__body {
    position: relative;
    z-index: 1;
    height: 30rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.metadata-detail-title {
  margin-bottom: 0px;
}

.update-metadata-callout {
  margin-top: 30px;
}

.drop__toggle.drop__toggle-day {
  border: 0px;
  display: flex;
  padding-right: 1rem;
}

.drop__content-day {
  overflow: visible;
  width: min-content;
}
