/* ==========================================================================
   Ambassadors: Ambassador Cards
   ========================================================================== */

.ambassador-card-wrapper {
  margin: 1rem 0;
  h4 {
    padding: 1rem 0;
    cursor: pointer;
  }
}
