/* ==========================================================================
   Homepage: Content
   ========================================================================== */

.page--homepage {
  .inpage__title {
    em {
      display: block;
      font-style: normal;
      font-weight: $base-font-weight;
      font-size: 64%;
      line-height: 1;
    }
  }
}

#home-nearby {
  .fold__body {
    @extend .clearfix;
  }
  .card {
    @include col(12/12);
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include col(6/12, $cycle: 2);
    }

    @include media(large-up) {
      @include col(4/12, $cycle: 3);
      margin-bottom: 0;
    }
  }
}

#home-community {
  .fold__body {
    @extend .clearfix;
  }

  .card {
    @include col(12/12);

    @include media(medium-up) {
      @include col(10/12, $offset: 1/12);
    }

    @include media(large-up) {
      @include col(8/12, $offset: 2/12);
    }
  }
}

#home-compare {
  .fold__body {
    @extend .clearfix;
  }

  .compare__location {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  @include media(medium-up) {
    .col-main {
      @include col(4/12);

      .compare__location {
        @include col(12/12);
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .col-sec {
      @include col(8/12);
    }

    .compare__title {
      font-size: 1.25rem;
    }

    .compare-marker::before {
      width: 1rem;
      height: 1rem;
      top: 0.375rem;
    }
  }
}


/* Fold: Open Data
   ========================================================================== */

#home-fold-open-data {

}

.od-quick-menu {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1rem 2rem;
  list-style: none;
  padding: 0;

  @include media(medium-up) {
    grid-gap: 1.5rem 2rem;
  }

  a {
    display: flex;
    flex-wrap: nowrap;
    color: inherit;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: $base-font-bold;
    white-space: nowrap;

    &::before {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

.od-quick-menu__locations-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-marker;
}

.od-quick-menu__api-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-cog;
}

.od-quick-menu__countries-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-flag;
}

.od-quick-menu__compare-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-scale;
}

.od-stats {
  @extend .prose, .prose--responsive;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  text-align: center;

  dt {
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    color: inherit;
    margin-bottom: 2rem;

    &:nth-of-type(1) {
      grid-row: 2;
      grid-column: 1 / span 1;
    }

    &:nth-of-type(2) {
      grid-row: 2;
      grid-column: 2 / span 1;
    }

    &:nth-of-type(3) {
      grid-row: 4;
      grid-column: 1 / span 1;
      margin-bottom: 0;
    }

    &:nth-of-type(4) {
      grid-row: 4;
      grid-column: 2 / span 1;
      margin-bottom: 0;
    }
  }

  dd {
    font-family: $heading-font-family;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: $heading-font-bold;
    font-feature-settings: normal;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    @include media(large-up) {
      font-size: 4.5rem;
    }

    &:nth-of-type(1) {
      grid-row: 1;
      grid-column: 1 / span 1;
    }

    &:nth-of-type(2) {
      grid-row: 1;
      grid-column: 2 / span 1;
    }

    &:nth-of-type(3) {
      grid-row: 3;
      grid-column: 1 / span 1;
    }

    &:nth-of-type(4) {
      grid-row: 3;
      grid-column: 2 / span 1;
    }
  }

  span {
    display: inline-flex;
    background-image: linear-gradient($secondary-color, $secondary-color);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:100% 0.5rem;

    @include media(large-up) {
      background-size:100% 0.75rem;
    }
  }

  > * {
    margin: 0;
  }
}

/* Fold: Community
   ========================================================================== */

#home-fold-community {

}

.community-details {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 0 2rem;
  list-style: none;
  padding: 0;

  > * {
    display: flex;
    flex-flow: row nowrap;

    &::before {
      content: '—';
      margin-right: 0.5rem;
    }
  }
}
