/* ==========================================================================
   Homepage: Content
   ========================================================================== */

.page--homepage {
  .inpage__title {
    em {
      display: block;
      font-style: normal;
      font-weight: $base-font-weight;
      font-size: 64%;
      line-height: 1;
    }
  }
}
