/* ==========================================================================
   Homepage: Content
   ========================================================================== */

.page--homepage {
  .inpage__title {
    em {
      display: block;
      font-style: normal;
      font-weight: $base-font-weight;
      font-size: 64%;
      line-height: 1;
    }
  }

  .inpage__headline {
    grid-row: 2;
    grid-column: 1 / span 12;

    @include media(large-up) {
      grid-row: 1;
      grid-column: 1 / span 6;
    }
  }


}


/* Header Random Measurements
   ========================================================================== */

.home-rand-meas {
  grid-row: 1;
  grid-column: 1 / span 12;

  display: grid;
  grid-gap: 2rem;
  grid-template-rows: auto;
  margin-bottom: 4rem;


  @include media(medium-up) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(large-up) {
    grid-column: 7 / span 6;
    margin-bottom: 0;
  }

  h2 {
    @extend .visually-hidden;
  }
}

.meas-card {
  display: flex;
  text-align: left;
  align-items: stretch;
  justify-content: center;

  > .inner,
  .meas-card__media,
  .meas-card__copy {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  > .inner {
    display: flex;
    background: #fff;
    padding: 2rem;
    color: $base-font-color;
    box-shadow: 0 12px 28px 0 rgba($base-color, 0.16);
    width: 100%;
    max-width: 22rem;

    @include media(medium-up) {
      flex-direction: column;
      min-height: 20rem;
      flex: 1;
    }
  }

  &:first-of-type > .inner {
    transform: translate(2rem, -4rem);
  }

  &:last-of-type > .inner {
    transform: translate(-2rem, 4rem);
  }
}


/* Block: Intro
   ========================================================================== */

#home-block-intro {
  background: #fff;
  padding: ($global-spacing * 4) 0;
  text-align: center;

  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;
  }

  @include media(large-up) {
    padding: ($global-spacing * 8) 0;
  }

  > .inner {
    @extend .constrainer;
  }

  .block__title {
    @extend .heading;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;

    @include media(medium-up) {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    @include media(large-up) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  figure {
    margin: 3rem auto;

    img {
      vertical-align: top;
      max-width: 100%;
      height: auto;
    }
  }

  .block__teaser {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}



/* Fold: Open Data
   ========================================================================== */

#home-fold-open-data {

}

.od-quick-menu {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1rem 2rem;
  list-style: none;
  padding: 0;

  @include media(medium-up) {
    grid-gap: 1.5rem 2rem;
  }

  a {
    display: flex;
    flex-wrap: nowrap;
    color: inherit;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: $base-font-bold;
    white-space: nowrap;

    &::before {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

.od-quick-menu__locations-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-marker;
}

.od-quick-menu__api-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-cog;
}

.od-quick-menu__countries-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-flag;
}

.od-quick-menu__compare-link::before {
  @extend %openaq-ds-icon-oaq-32-circle-scale;
}

.od-stats {
  @extend .prose, .prose--responsive;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  text-align: center;

  dt {
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    color: inherit;
    margin-bottom: 2rem;

    &:nth-of-type(1) {
      grid-row: 2;
      grid-column: 1 / span 1;
    }

    &:nth-of-type(2) {
      grid-row: 2;
      grid-column: 2 / span 1;
    }

    &:nth-of-type(3) {
      grid-row: 4;
      grid-column: 1 / span 1;
      margin-bottom: 0;
    }

    &:nth-of-type(4) {
      grid-row: 4;
      grid-column: 2 / span 1;
      margin-bottom: 0;
    }
  }

  dd {
    font-family: $heading-font-family;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: $heading-font-bold;
    font-feature-settings: normal;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    @include media(large-up) {
      font-size: 4.5rem;
    }

    &:nth-of-type(1) {
      grid-row: 1;
      grid-column: 1 / span 1;
    }

    &:nth-of-type(2) {
      grid-row: 1;
      grid-column: 2 / span 1;
    }

    &:nth-of-type(3) {
      grid-row: 3;
      grid-column: 1 / span 1;
    }

    &:nth-of-type(4) {
      grid-row: 3;
      grid-column: 2 / span 1;
    }
  }

  span {
    display: inline-flex;
    background-image: linear-gradient($secondary-color, $secondary-color);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:100% 0.5rem;

    @include media(large-up) {
      background-size:100% 0.75rem;
    }
  }

  > * {
    margin: 0;
  }
}

/* Fold: Community
   ========================================================================== */

#home-fold-community {

}

.community-details {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 0 2rem;
  list-style: none;
  padding: 0;

  > * {
    display: flex;
    flex-flow: row nowrap;

    &::before {
      content: '—';
      margin-right: 0.5rem;
    }
  }
}


/* Fold: Partners
   ========================================================================== */

#home-fold-partners {

}

.hpf-sponsors-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  align-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    @extend .visually-hidden;
  }

  img {
    display: inline-flex;
    width: auto;
    max-width: 100%;
    max-height: 3rem;
  }

  /* Compensate DevSeed logo proportions and alignment */
  .logo-devseed img {
    max-height: 2rem;
  }
}


/* Join Fold
   ========================================================================== */

.join-fold {
  @extend .antialiased;
  background: $primary-color;
  color: #fff;
  padding: ($global-spacing * 4) 0;
  text-align: center;

  @include media(medium-up) {
    padding: ($global-spacing * 6) 0;
    text-align: left;
  }

  @include media(large-up) {
    padding: ($global-spacing * 8) 0;
  }

  > .inner {
    @extend .constrainer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    grid-template-rows: auto;
    align-items: center;
  }

  > .inner,
  .join-fold__header {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.join-fold__title {
  @extend .heading;
  color: inherit;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;

  @include media(medium-up) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include media(large-up) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.join-fold__header {
  grid-row: 1;
  grid-column: 1 / span 12;

  @include media(medium-up) {
    grid-column: 1 / span 5;
  }

  @include media(large-up) {
    grid-column: 2 / span 4;
  }
}

.join-fold__cards {
  grid-row: 2;
  grid-column: 1 / span 12;

  display: grid;
  grid-gap: 2rem;
  grid-template-rows: auto;

  @include media(medium-up) {
    grid-row: 1;
    grid-column: 6 / span 7;

    grid-template-columns: repeat(2, 1fr);
  }

  @include media(large-up) {
    grid-column: 7 / span 5;
  }
}

.join-card {
  display: flex;
  text-align: left;
  align-items: stretch;
  justify-content: center;

  > .inner,
  .join-card__media,
  .join-card__copy {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  > .inner {
    display: flex;
    background: #fff;
    padding: 2rem;
    color: $base-font-color;
    box-shadow: 0 12px 28px 0 rgba($base-color, 0.16);
    width: 100%;
    max-width: 22rem;

    @include media(medium-up) {
      flex-direction: column;
      min-height: 20rem;
      flex: 1;
    }
  }

  &:first-child > .inner {
    @include media(medium-up) {
      transform: translate(0, -1.5rem);
    }
  }

  &:last-child > .inner {
    @include media(medium-up) {
      transform: translate(0, 1.5rem);
    }
  }
}

.join-card__media {
  margin-right: 1.5rem;

  @include media(large-up) {
    margin: 0;
  }

  figure {
    margin: 0;
  }

  img {
    vertical-align: top;
    margin-bottom: 1.5rem;
  }
}

.join-card__copy {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.join-card__title {
  font-size: 1.5rem;
  line-height: 2rem;

  @include media(medium-up) {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

.join-card__main-action {
  margin-top: auto;
}

.join-card__go-link {
  @extend .button, .button--primary, .button--large, .button--capsule;
  width: 100%;
  max-width: 10rem;
}
