@use 'mixins' as local-mixins;

.blog-content {
  display: flex;
  justify-content: center;
  position: relative;

  @include local-mixins.bubbles();

  .breadcrumb {
    margin: 6px 0 0 150px;
  }

  .blog-content-container {
    width: 800px;
    z-index: 2;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 0 100px 0;
}

.blog-item {
  display: flex;
  align-items: flex-start;

  .blog-date {
    margin: 5px;
    flex: 1;
  }

  .blog-content {
    display: flex;
    flex-direction: column;
    flex: 5;

    &__title {
      flex: 1;
    }

    &__body {
      flex: 3;
    }
  }
}
