@use 'openaq-design-system/mixins/index.scss' as mixins;

.explore-banner {
  width: 100%;
  height: 200px;
  position: relative;

  &__input-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    .search-input {
      @include mixins.box-shadow;
      width: 100%;
      line-height: 22px;
    }
  }

  &__img {
    overflow: hidden;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
