@use "openaq-design-system/variables";

.footer {
  background-color: variables.$lavender180;
  align-items: center;
  color: white;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 24px 80px;

    .nav-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;

      .footer-logo {
        width: 90px;
        height: auto;
      }

      .footer-nav {
        display: flex;
        flex-direction: row;
        gap: 24px;
      }
    }

    .contact-section {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 0;

      .social-links {
        flex-wrap: wrap;
      }

      .subscribe-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        input {
          width: 180px;
        }
      }
    }
  }

  .sub-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid variables.$sky120;
    padding: 24px 80px;

    &-nav {
      display: flex;
      gap: 20px;
    }

    @media (max-width: 800px) {
      & {
        flex-direction: column;
        padding: 0 80px;
        justify-content: center;
        align-items: center;

        .copyright {
          order: 1;
        }
      }
    }
  }

  @media (max-width: 1180px) {
    & {
      &__content {
        .nav-section {
          justify-content: space-between;
        }

        .contact-section {
          justify-content: space-between;

          .subscribe-form {
            display: flex;
            flex-direction: column;
            align-items: left;

            input {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    & {
      box-sizing: border-box;

      &__content {
        padding: 40px 24px 0 24px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;

        .nav-section {
          display: flex;
          flex-direction: column;
          align-items: center;

          .footer-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        .contact-section {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          order: 1;

          .subscribe-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
              width: 300px;
            }
          }

          .social-links {
            margin-bottom: 24px;
            justify-content: center;
          }
        }
      }
    }
  }
}
