@use 'openaq-design-system/variables';
@use 'openaq-design-system/mixins/index.scss' as mixins;
@use 'mixins' as local-mixins;

.initiative-content {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 0 40px 0;
  @include local-mixins.bubbles();

  &-container {
    z-index: 2;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
}

.initiative-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid variables.$smoke10;
  border-radius: 22px;
  gap: 20px;
  padding: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &-img {
    flex: 2;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  .initiative-description {
    flex: 3;

    .initiative-description__title {
      @include mixins.heading2;
    }

    .initiative-description__body {
      * {
        @include mixins.body1;
        color: variables.$smoke100;
      }
    }

    .initiative-tags {
      padding: 10px 20px;
      display: flex;
      gap: 12px;
    }
  }
}
