@use 'openaq-design-system/mixins/index.scss' as mixins;
@use 'openaq-design-system/variables';
@use 'mixins' as local-mixins;

@mixin person-card($name, $color) {
  .#{$name}-card {
    border-radius: 22px;
    background-color: white;
    display: flex;
    flex-direction: column;

    &__img {
      width: 100%;
      height: auto;
    }

    &__description {
      border-top: 6px solid $color;
      padding: 0 12px 12px 12px;

      .person-name {
        @include mixins.subtitle2;
        margin: 14px 0 6px 0;
      }

      .person-title {
        @include mixins.subtitle3;
        color: $color;
        margin: 6px 0;
      }

      .person-bio {
        @include mixins.body4;
        text-decoration: none;
        margin: 12px 0;
      }
    }
  }
}

.person-social {
  display: flex;
  gap: 18px;
  align-content: flex-start;
}

.team-content {
  display: flex;
  justify-content: center;
  position: relative;
  @include local-mixins.bubbles();

  .team-content-container {
    width: 800px;
    z-index: 2;

    @media (max-width: 800px) {
      width: 600px;
    }

    @media (max-width: 600px) {
      width: 300px;
    }
  }
}

.person-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 22px;
  row-gap: 22px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@include person-card('team', variables.$sky100);

@include person-card('board', variables.$lavender120);

@include person-card('advisor', variables.$ocean120);

.team-card:hover {
  @include mixins.box-shadow;
}

.person-content {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;

  @include local-mixins.bubbles();

  &-container {
    width: 800px;

    .person {
      .person-description {
        border-top: 6px solid variables.$sky100;

        .person-name {
          @include mixins.display1;
          margin: 40px 0 0 0;
        }

        .person-title {
          @include mixins.heading1;
          color: variables.$sky120;
          margin: 0 0 40px 0;
        }
        .person-bio {
          margin: 40px 0;

          h1,
          h2,
          h3,
          h4 {
            color: variables.$sky120;
            @include mixins.heading2;
          }

          p {
            @include mixins.body2;
          }
        }
      }
    }
  }
}

.person-image-placeholder {
  position: relative;
  overflow: hidden;
  height: 238px;

  .bubble-md {
    position: absolute;
    bottom: -14px;
  }

  .bubble-sm {
    position: absolute;
    bottom: -14px;
  }
}
