@use 'openaq-design-system/variables';
@use 'openaq-design-system/mixins/index.scss' as mixins;
@use 'mixins' as local-mixins;

.use-cases-content {
  display: flex;
  justify-content: center;
  position: relative;
  @include local-mixins.bubbles();

  &-container {
    width: 1000px;

    .use-cases-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
      column-gap: 20px;
      margin: 40px 0;
    }
  }

  @media (max-width: 1000px) {
    & {
      &-container {
        width: 600px;

        .use-cases-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  @media (max-width: 600px) {
    & {
      &-container {
        width: 300px;

        .use-cases-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

.use-case-card {
  background: #ffffff;
  border: 1px solid variables.$smoke10;
  border-radius: 22px;
  overflow: hidden;

  &:hover {
    @include mixins.box-shadow;
  }

  a:nth-child(1) {
    flex: 1;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__body {
    flex: 2;
    padding: 20px;

    .use-case-description {
      @include mixins.body2;
      padding: 10px 0;
      color: variables.$smoke100;
    }
  }
}

.related-header {
  @include mixins.heading2;
  color: variables.$sky120;
  margin: 40px 0;
}

.related-use-cases {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @media (max-width: 800px) {
    & {
      max-width: 400px;
      margin: 0 auto;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0;
      row-gap: 20px;
    }
  }
}
