{{ define "main" }}
{{ partial "breadcrumbs" . }}


<div class="team-content">
    {{ partial "bubbles" }}

    <div class="team-content-container">
        <h1 class="type-display-1 gradient-title">Team</h1>
        <section class="person-grid">
            {{ range sort (where .Pages "Params.group" "team") ".Weight" }} 
            {{.Render "team-card"}} 
            {{ end }}
        </section>
        <h1 class="type-display-1 gradient-title">Board</h1>
        <section class="person-grid">
            {{ range where .Pages "Params.group" "board" }} 
            {{.Render "board-card"}} 
            {{ end }}

        </section>
        <h1 class="type-display-1 gradient-title">Advisors</h1>
        <section class="person-grid">
            {{ range where .Pages "Params.group" "advisor" }} 
            {{.Render "advisor-card"}} 
            {{ end }}
        </section>
    </div>

</div>

{{ partial "community-banner" . }}
{{ partial "explore-banner" . }}
{{ end }}