<article class="team-card" data-team-slug="{{ .File.BaseFileName | urlize }}">
    <a href="{{ .Permalink }}">
      {{if isset .Params "image"}}
      {{ with .Params.image }}
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
      {{ $resized := $imageResource.Resize "400x400 webp q100 picture"  }}
      <img src="{{ $resized.RelPermalink }}"  alt="" class="team-card__img" />
      {{ end }}
      {{ else}}
      {{ partial "img-placeholder" }}
      {{ end }}
        <div class="team-card__description">
            <h2 class="person-name">{{ .Params.name}}</h2>
            <h3 class="person-title">{{ .Params.position }}</h3>
            <p class="person-bio">{{ .Summary | truncate 300 }}</p>
    </a>
    {{ .Render "person-social" }}
  </div>
</article>
