// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

html {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

#site-canvas {
  // @include outer-container;
}

a {
  text-decoration: none;
  color: $base-color;
}

.bttn-cta {
  display: inline-block;
  border-radius: $global-radius;
  min-width: 10rem;
  padding: 0.25rem 1rem;
  border: 2px solid;
  text-decoration: none;

  &.light {
    color: #fff;
    border-color: #fff;
    background: rgba(#fff, 0.08);
  }

  &.dark {
    color: $base-color;
    border-color: lighten($tertiary-color, $lighten-percentage);
  }

  &.large {
    padding: 0.5rem 1.5rem;
  }

  &:hover {
    background: lighten($tertiary-color, $lighten-percentage);
  }
}
