footer {
  @include span-columns(12);

  z-index: $z-footer;
  text-align: center;
  margin: 2em 0;

  .heart {
    color: $tertiary-color;
    font-size: modular-scale(1);
  }

  @include media($mobile) {
    padding: 0 2em;
  }

  &.bottom {
    position: absolute;
    bottom: 0px;
  }
}
