header {
  @include span-columns(12);
  height: $header-height;
  position: absolute;
  top: 0;
  margin: 20px 0;
  padding: 0 90px;

  a {
    text-decoration: none;
    font-weight: $base-font-bold;
  }

  &.light {
    a {
      color: white;
    }

    :hover {
      color: lighten($tertiary-color, $lighten-percentage);
    }
  }

  &.dark {
    a {
      color: $base-color;
    }

    :hover {
      color: lighten($base-color, $lighten-percentage);
    }
  }

  .site-logo {
    float: left;

    img {
      position: relative;
      height: 40px;
    }
  }

  nav {
    font-size: modular-scale(0);
    @include transform(translateY(10px));
    li {
      float: right;
      margin: 0 15px;

      .active {
        padding: 0.5em;
        border-radius: $global-radius;
        background-color: rgba($tertiary-color, 0.1);
      }
    }
  }
}
