.detail-country-item {
  @include span-columns(12);
  font-size: modular-scale(1);
  font-weight: $base-font-bold;
  margin-bottom: 1em;
}

.detail-city-item {
  @include span-columns(12);
  margin-bottom: 1em;
  font-size: modular-scale(0);
  font-weight: $base-font-regular;

  >.title {
    text-align: center;
    margin-bottom: 0.5em;
  }
}

.location-detail {
  @include span-columns(4);
  @include omega;
  font-size: modular-scale(-1);
  font-weight: $base-font-light;
  border-radius: $global-radius;
  margin-bottom: 0.7em;
  margin-left: 0.8em;
  border: 1px solid lightgray;

  .inner {
    padding: 1em;
    line-height: $base-line-height;
  }

  &:nth-of-type(3n+2) {
    margin-left: 0;
  }

  .title {
    color: $base-color;
    font-weight: $base-font-regular;
  }

  .divider {
    height: 1px;
    background-color: lightgray;
    width: 100%;
    margin-top: 0.6em;
  }

  .extra span:first-of-type {
    font-weight: $base-font-regular;
  }

  .links {
    text-align: center;
    padding: 0.5em 0;

    a {
      margin: 0 1.5em;
      text-decoration: none;
      color: $tertiary-color;
      font-size: modular-scale(1);
    }
  }

  @include media($large) {
    @include span-columns(5);
    @include omega;

    margin-left: 0;
    &:nth-of-type(odd) {
      margin-left: 4em;
    }
  }

  @include media($tablet) {
    @include span-columns(8);
    @include omega;
    margin-left: 0 !important;
  }

  @include media($mobile) {
    .divider {
      display: none;
    }

    .links {
      display: none;
    }
  }
}

.sources-menu {
  @include span-columns(12);
  text-align: center;
  font-size: modular-scale(1);
  color: $base-color;
  margin: 2em 0;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    cursor: pointer;
    margin: 5px 30px;

    &.selected {
      font-weight: $base-font-bold;
    }
  }

  .divider {
    @include span-columns(12);

    height: 1px;
    background-color: $tertiary-color;
    margin: 1em 0;
  }

  @include media($tablet) {
    @include span-columns(8);
    font-size: modular-scale(0);
  }

  @include media($mobile) {
    @include span-columns(4);
    font-size: modular-scale(-1);
  }
}
