$sidebar-width: 200px;

.map-sidebar {
  position: absolute;
  background: white;
  width: $sidebar-width;
  bottom: 40px;
  top: $header-height + 40px;
  box-shadow: 5px 5px 12px $brdr-rgba;
  border-top-right-radius: 5px;
  z-index: $z-results;

  @include media($mobile) {
    display: none;
  }

  #close-button {
    color: $secondary-color;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &.closed {
    transform: translate(-$sidebar-width, 0);
    transition: transform $map-sidebar-transition ease-out;
    // visibility: visible;
  }

  &.open {
    transform: translate(0, 0);
    transition: transform $map-sidebar-transition ease-out;
    // visibility: hidden;
  }

  .results-pane {
    position: absolute;
    top: 40px;
    background-color: white;
    position: absolute;
    width: $sidebar-width;
    overflow-y: auto;
    height: calc(100% - 40px);
    padding: 0.2em 1.6em;
    border-bottom-right-radius: 5px;
  }

  .divider {
    height: 1px;
    background-color: lighten(darkgray, 20%);
    width: 100%;
    margin: 0 0 1.6em 0;
  }

  .map-sidebar-cell {
    width: 100%;

    .title {
      color: $base-color;
      font-weight: $base-font-regular;
    }

    .links {
      text-align: center;
      margin: 0.6em 0;
      a {
        text-decoration: none;
        color: $tertiary-color;
        width: 50%;
        display: inline-block;
      }
    }
  }

  .no-results {
    position: absolute;
    top: 200px;
    z-index: $z-results + 1;

    margin: 1.6em;
  }
}
