#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: $z-map;

  .mapboxgl-popup {
    transform: translate(50%, 150px) !important;
  }
}

.legend-outer {
  width: 400px;
  padding: 1em;
  position: absolute;
  bottom: 70px;
  right: 20px;
  z-index: $z-legend;
  background-color: white;
  box-shadow: 5px 5px 12px $brdr-rgba;
  border-radius: 5px;

  @include media($mobile) {
    width: 80%;
    margin: 0 10%;
    right: 0;
    bottom: 100px;
  }

  .legend-info {
    font-size: modular-scale(-1);
    margin-top: 0.5em;
  }

  .legend-title {
    margin-bottom: 0.5em;
  }

  .Dropdown-root {
    display: inline-block;
  }

  .Dropdown-control {
    border-bottom: 1px dashed #999;
    font-weight: $base-font-regular;
    cursor: pointer;

    color: $base-color;
  }

  .Dropdown-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 20px $brdr-rgba;
    border-radius: 5px;
    padding: 0 5px;
    min-width: 145px;
  }

  .Dropdown-option {
    cursor: pointer;
    &:hover {
      font-weight: $base-font-regular;
    }
  }
}

.map-legend {
  font-size: modular-scale(-1);

  li {
    display: inline-block;
    width: 9%;
    border-top-width: 15px;
    border-top-style: solid;
  }
}

.no-map {
  height: calc(100vh);
  width: 100%;
  background-color: white;
  z-index: $z-no-map;
  position: absolute;

  p {
    position: relative;
    text-align: center;
    top: 50%;
    font-size: modular-scale(1);
    padding: 0 10%;
  }
}
