.page {
  .intro {
    @include span-columns(8);
    @include shift(2);
    @include omega();
    margin-top: $header-height + 20px;
    margin-bottom: 20px;
    line-height: $base-line-height;

    @include media($mobile) {
      margin-top: $header-height + 50px;
    }

    div>p {
      margin: 1em 0;
    }

    ul {
      list-style-type: circle;
      margin-left: 50px;
    }
  }
}

.sites {

  .cta-wrapper {
    @include span-columns(12);

    text-align: center;
    margin: 1em 0;

    @include media($mobile) {
      display: none;
    }
  }

  .detail {
    @include span-columns(10);
    @include shift(1);
  }
}

.home {
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;

    .mapboxgl-popup {
      transform: translate(50%, 150px) !important;
    }
  }
}
