.sites {
  .intro {
    @include span-columns(8);
    @include shift(2);
    @include omega();
    margin-top: $header-height + 20px;
    margin-bottom: 20px;
    line-height: 1.6em;
  }

  .cta-wrapper {
    @include span-columns(12);

    text-align: center;
  }

  .detail {
    @include span-columns(10);
    @include shift(1);
  }
}

.home {
  .banner {
    @include span-columns(12);

    min-height: 28em;
    @include background(linear-gradient(rgba($primary-color, 0.48), rgba($primary-color, 0.64), rgba($primary-color, 0.80)), url("../graphics/layout/hero.jpg") center top no-repeat);
    color: white;
    margin-bottom: 3em;

    // For centering title
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inner {
      text-align: center;

      .site-title {
        font-size: modular-scale(4);
        line-height: 1.25em;
      }

      .site-description {
        font-size: modular-scale(1);
        line-height: 1.75em;
        margin-top: 0.25em;
        margin-bottom: 1.5em;
        font-weight: 400;
      }
    }
  }
  .content-blocks {
    margin: 0 4em;
  }

  .feat-block {
    @include span-columns(4);

    text-align: center;

    h2 {
      font-size: modular-scale(1);
      margin-bottom: .75em;
    }
  }
}
