.page {
  .intro {
    @include span-columns(8);
    @include shift(2);
    @include omega();
    margin-top: $header-height + 20px;
    margin-bottom: 20px;
    line-height: $base-line-height;

    @include media($mobile) {
      margin-top: $header-height + 50px;
    }

    div>p {
      margin: 1em 0;
    }
  }
}

.sites {

  .cta-wrapper {
    @include span-columns(12);

    text-align: center;
    margin: 1em 0;

    @include media($mobile) {
      display: none;
    }
  }

  .detail {
    @include span-columns(10);
    @include shift(1);
  }
}

.home {
  .banner {
    @include span-columns(12);

    min-height: 28em;
    @include background(linear-gradient(rgba($primary-color, 0.08), rgba($primary-color, 0.14), rgba($primary-color, 0.20)), url("../graphics/layout/hero.jpg") center top no-repeat);
    color: white;
    margin-bottom: 3em;

    // For centering title
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    .inner {
      text-align: center;

      .site-title {
        font-size: modular-scale(4);
        line-height: 1.25em;
      }

      .site-description {
        font-size: modular-scale(1);
        line-height: 1.75em;
        margin-top: 0.25em;
        margin-bottom: 1.5em;
        font-weight: 400;
      }
    }
  }
  .content-blocks {
    margin: 0 4em;
  }

  .feat-block {
    @include span-columns(4);

    text-align: center;
    line-height: $base-line-height;

    h2 {
      font-size: modular-scale(1);
      margin-bottom: .75em;
    }

    a {
      color: $base-color;
    }

    @include media($tablet) {
      @include span-columns(8);
      @include omega;

      margin: 1.5em 0;
    }
  }
}
