.map-popup {
  position: absolute;
  background: lightgrey;
  width: 500px;
  max-height: 200px;
  overflow: scroll;
  margin: 2em;
  top: $header-height + 40px;

  .title {
    text-align: center;
  }

  .divider {
    height: 1px;
    background-color: darkgray;
    width: 100%;
    margin-top: 0.6em;
  }
}
