// We use these as default colors throughout
// https://coolors.co/app/c9e4ca-87bba2-55828b-3b6064-364958
$base-color: #C75233;
$primary-color: #364958;
$secondary-color: #C9E4CA;
$tertiary-color: #55828B;

// We use these to control various font styles
// $base-* refers to the base styles when there's nothing else to override them.
$base-font-color: black;
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-bold: 700;
$base-font-weight: $base-font-light;

// Other fun things
$base-line-height: 1.6em;
$header-height: 70px;
$global-radius: 0.25rem;
$global-rounded: 60rem;
$lighten-percentage: 20%;

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);
$tablet: new-breakpoint(max-width 900px 8);
$large: new-breakpoint(max-width 1130px 12);

// We use this rgba for shadowing
$brdr-rgba: rgba($primary-color, 0.3);

// Animations
$map-sidebar-transition: 0.5s;

// z-index magic
$z-map: -1;
$z-footer: 3;
$z-header: $z-footer;
$z-legend: 4;
$z-no-map: 2;
$z-results: 4;
