{{ define "main" }} {{ partial "breadcrumbs" . }}
<div class="reporting-content">
  {{ partial "bubbles" }}


  <div class="reporting-content-container">

    <h1 class="type-display-1 gradient-title">Legal and Policy Documents</h1>

    <div class="ceritifications-grid">
      <a href="https://www.guidestar.org/profile/shared/49986605-4410-4ce1-b0cd-ab4bb5955075" target="_blank"><img src="https://widgets.guidestar.org/TransparencySeal/9732592" /></a>
      <a href="https://www.charitynavigator.org/ein/475324172" target="_blank"><img src="/img/four_star_rating_badge.webp" /></a>

    </div>
    <div class="policies-section">
      <h2 class="policies-title">Terms of use and other policies</h2>
      <ul>
        <li><a href="https://openaq.org/terms/">Website terms of use</a></li>
        <li><a href="https://docs.openaq.org/about/terms">Platform terms of use</a></li>
        <li><a href="https://openaq.org/privacy/">Privacy policy</a></li>
        <li><a href="https://openaq.org/security/">Security policy</a></li>
        <li><a href="https://openaq.org/cookies/">Cookie policy</a></li>
        <li><a href="https://openaq.org/dmca/">DMCA</a></li>
      </ul>
    </div>
    <div class="reporting-grid">
      <div class="reporting-item">
        <h2 class="reporting-item__title">Financial</h2>
        <p class="reporting-item__description">
          Financial documents including IRS Form 990 and Financial audits
        </p>
        <div class="download-section">
          <select name="financial-downloads" id="financial-downloads" class="select js-financial-select">
              <option value="/forms/OpenAQ+Inc+Form+990+FY+2024+Public.pdf" selected>IRS Form 990 2024</option>
              <option value="/forms/OpenAQ+Inc+2024+Review+by+Auditors.pdf">Audited Financials FY 2023 & 2024</option>

          :i
          </select><button class="download-financial btn btn-secondary js-download-financial-btn">Download</button>
        </div>
      </div>
      <div class="reporting-item">
        <h2 class="reporting-item__title">Bylaws</h2>
        <p class="reporting-item__description">
          The Bylaws that dictate the operation of OpenAQ as an organization
        </p>
        <div class="download-section">
          <div></div>
          <a href="https://documents.openaq.org/policy/OpenAQ+Bylaws+2022.pdf" class="download-audit btn btn-secondary" >Download</a>
        </div>
      </div>
      <div class="reporting-item">
        <h2 class="reporting-item__title">Incorporation</h2>
        <p class="reporting-item__description">
          Documents pertaining to the incorporation and non-profit status of OpenAQ
        </p>
        <div class="download-section">
          <select name="incorporation-download-select" id="incorporation-download-select" class="select js-incorporation-select">
            <option value="/forms/OpenAQ_Certificate_of_Incorporation%202015_09_09.pdf" selected>Certificate of Incorporation</option>
            <option value="/forms/OpenAQ_Articles_of_Incorporation%202018_01_01.pdf" selected>Articles of Incorporation</option>
            <option value="/forms/OpenAQ%2BIRS%2BDetermination%2BLetter%2B2018-09-21.pdf">IRS Determination Letter of 501(c)(3) Status</option>
        </select>
        <button class="download-incorporation btn btn-secondary js-download-incorporation-btn">Download</button>
        </div>
      </div>

      <div class="reporting-item">
        <h2 class="reporting-item__title">Policies</h2>
        <p class="reporting-item__description">
          Overarching organizational policies
        </p>
        <div class="download-section">
          <select name="policy-download-select" id="policy-download-select" class="select js-policy-select">
            <option value="/policy/OpenAQ+Child+Safeguard+and+Protection+Policy.pdf" selected>Child Safeguard and Protection</option>
            <option value="/policy/OpenAQ+Code+of+Conduct.pdf">Code of Conduct </option>
            <option value="/policy/OpenAQ+COI+Policy.pdf">Conflict of Interest </option>
            <option value="/policy/OpenAQ+Anti-Modern+Slavery+Policy.pdf">Anti-Modern Slavery </option>
            <option value="/policy/OpenAQ+Anti-Fraud+&+Anti-Corruption+Policy.pdf">Anti-Fraud & Anti-Corruption </option>
            <option value="/policy/OpenAQ+Sanctions+Compliance+Policy.pdf">Sanctions Compliance Policy </option>
        </select>
          <button class="download-policy btn btn-secondary js-download-policy-btn">Download</button>
        </div>
      </div>
    </div>

  </div>
</div>

{{ partial "community-banner" . }} {{ partial "explore-banner" . }} {{
end }}

{{ define "scripts" }}
{{ $js := resources.Get "js/legal-downloads.js" | js.Build | resources.Minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>

{{ end }}
