@use "openaq-design-system/scss/resets";
@use "openaq-design-system/scss/mixins/index.scss" as mixins;
@use "openaq-design-system/scss/utilities/types.scss";

@use "openaq-design-system/scss/variables";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

.gradient-title {
  @include mixins.display1;
  margin: 40px 0;

  background-color: variables.$lavender100;
  background-image: linear-gradient(
    92deg,
    variables.$sky120 0%,
    variables.$lavender100 10%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a {
  text-decoration: none;
}
