<ol class="breadcrumb">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
  
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  {{ if not .p1.IsHome }}  
  <span class="material-symbols-outlined text-smoke-100">
    chevron_right
  </span>
  {{ end }}
  <li  {{ if eq .p1 .p2 }}aria-current="page"{{ end }} >
	<a href="{{ .p1.Permalink }}" class="type-body-3{{ if eq .p1 .p2 }} text-sky-120{{ end }}"> 
    {{ if .p1.IsHome }}  
    <span class="material-symbols-outlined">
      home
      </span>
    {{ else }}
    {{ if eq .p1.Title "Tags" }}
    Case studies
    {{ else }}
    {{ .p1.Title }}
    {{end }}
    {{ end }}
  </a>
  </li>
{{ end }}