<ol class="breadcrumb">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
  
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  {{ if not .p1.IsHome }}
  <span class="google-icon">
    <img src="/icons/chevron-right--smoke100.svg" alt="icon">
  </span>
  {{ end }}
  <li  {{ if eq .p1 .p2 }}aria-current="page"{{ end }} >
    {{ $slice := slice "Tags" "Categories" }}
    {{ $scratch := newScratch }}
    {{ if in $slice .p1.Title }}
      {{ $scratch.Set "title" "Use Cases" }}
      {{ $scratch.Set "link" "/use-cases" }}
    {{ else }}
    {{ $scratch.Set "title" .p1.Title }}
    {{ $scratch.Set "link" .p1.Permalink }}
    {{end }}
	<a 
    href="{{ $scratch.Get "link"}}" class="type-body-3{{ if eq .p1 .p2 }} text-sky-120{{ end }}"> 
    {{ if .p1.IsHome }}  
    <span class="google-icon">
      <img src="/icons/home-icon--ocean120.svg" alt="icon">
    </span>
    {{ else }}
      {{ $scratch.Get "title"  | title}}
    {{ end }}
  </a>
  </li>
{{ end }}