<footer class="footer">
    <div class="footer__content">
        <div>
            <a href="/">Home</a>
            <a href="https://explore.openaq.org">Explore</a>
            <a href="">Partners</a>
            <a href="https://api.openaq.org">API</a>
            <a href="">About</a>
            <a href="">Help</a>
        </div>
        <div>
            <span>Stay up to date</span>
            <input type="text"><button></button>
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

    </div>
    <div class="sub-footer">
        <span class="copyright type-body-4">&#169; {{ replace .Site.Copyright "{year}" now.Year }}</span>
        <div>
            <a href="">Terms</a>
            <a href="">Privacy</a>
            <a href="">Cookies</a>
        </div>
    </div>

</footer>