<footer class="footer">
  <div class="footer__content">
    <section class="nav-section">
      <img src="/svg/logo_white.svg" alt="" class="footer-logo" />
      <nav class="footer-nav">
        <a class="type-navigation-2 text-white footer-home" href="/">Home</a>
        <a
          class="type-navigation-2 text-white footer-explore"
          href="https://explore.openaq.org"
          >Explore</a
        >
        <a
          class="type-navigation-2 text-white footer-api"
          href="https://docs.openaq.org/docs"
          >API</a
        >
        <a class="type-navigation-2 text-white footer-about" href="/about"
          >About</a
        >
        <a class="type-navigation-2 text-white footer-contact" href="/contact"
          >Contact</a
        >
        <a
          class="type-navigation-2 text-white footer-help"
          href="/developers/help"
          >Help</a
        >
      </nav>
    </section>
    <section class="contact-section">
      <span class="type-subtitle-3 text-white"
        >Stay up to date with our quarterly newsletter</span
      >
      <form
        action="//openaq.us10.list-manage.com/subscribe/post?u=ca93b2911fff40db15f6e7203&amp;id=e65a8618a1"
        method="post"
        id="mc-embedded-subscribe-form"
        class="subscribe-form"
        name="mc-embedded-subscribe-form"
        target="_blank"
        rel="noreferrer"
        novalidate
      >
        <input
          type="email"
          name="EMAIL"
          id="mce-EMAIL"
          placeholder="Enter your email"
          class="text-input"
          required
        />

        <!-- First Name Field -->
        <input
          type="text"
          name="FNAME"
          id="mce-FNAME"
          placeholder="First Name"
          class="text-input"
        />

        <!-- Last Name Field -->
        <input
          type="text"
          name="LNAME"
          id="mce-LNAME"
          placeholder="Last Name"
          class="text-input"
        />

        <button class="btn btn-primary js-footer-subscribe" type="submit">
          Subscribe
        </button>

        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input
            type="text"
            name="b_ca93b2911fff40db15f6e7203_e65a8618a1"
            tabindex="-1"
            defaultValue=""
          />
        </div>
      </form>

      <div class="social-links">
        <a
          href="https://x.com/openaq"
          class="social-circle x-nav js-footer-x-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img src="/svg/X_logo.svg" alt="x" />
        </a>
        <a
          href="https://join.slack.com/t/openaq/shared_invite/zt-yzqlgsva-v6McumTjy2BZnegIK9XCVw"
          class="social-circle slack-nav js-footer-slack-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img src="/svg/slack.svg" alt="slack" />
        </a>
        <a
          href="https://github.com/openaq"
          class="social-circle github-nav js-footer-github-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img src="/svg/github.svg" alt="github" />
        </a>
        <a
          href="https://www.linkedin.com/company/openaq"
          class="social-circle linkedIn-nav js-footer-linkedIn-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img src="/svg/linkedin.svg" alt="linkedin" />
        </a>
        <a
          href="https://openaq.medium.com/"
          class="social-circle medium-nav js-footer-medium-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img src="/svg/medium.svg" alt="medium" />
        </a>
        <a
          href="https://www.youtube.com/@openaq4768"
          class="social-circle youtube-nav js-footer-youtube-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img src="/svg/youtube.svg" alt="youtube" />
        </a>
        <a
          href="https://www.facebook.com/openaq/"
          class="social-circle fb-nav js-footer-fb-link"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img src="/svg/facebook.svg" alt="facebook" />
        </a>
      </div>
    </section>
  </div>
  <div class="sub-footer">
    <span class="copyright text-white type-body-4"
      >&#169; {{ replace .Site.Copyright "{year}" now.Year }}</span
    >
    <nav class="sub-footer-nav">
      <a class="type-body-4 text-white" href="/terms/">Website Terms</a>
      <a class="type-body-4 text-white" href="/privacy/">Privacy Policy</a>
      <a class="type-body-4 text-white" href="/dmca/">DMCA</a>
      <a class="type-body-4 text-white" href="/cookies/">Cookies</a>
    </nav>
  </div>
</footer>
