<header class="header">
    <div class="header-contents">
    <a href="/" class="header-logo" aria-label="openaq logo">
        <img src="/svg/logo.svg" alt="openaq logo">
    </a>
    <div class="spacer"></div>
    <nav class="nav">    
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'>
        <span class="material-symbols-outlined">
            menu
            </span>
    </div>
    </label>
    <ul class="nav-list">
        <li>
            <a class="nav__item explore-data-tab" href="https://explore.openaq.org">Explore the data</a>
        </li>
        <li>
            <a href="/why-air-quality" class="nav__item air-quality-tab{{ if eq .Section "why-air-quality" }} nav__item--active{{ end }}">Why air quality?</a></li>
        <li>
            <a href="/why-open-data" class="nav__item open-data-tab{{ if eq .Section "why-open-data" }} nav__item--active{{ end }}">Why open data?</a>
        </li>
        <li>
            <a href="/partners" class="nav__item partners-tab{{ if eq .Section "partners" }} nav__item--active{{ end }}">Partners</a>
        </li>
        <li class="dropdown"><a href="/developers/platform-overview/" aria-haspopup="true" class="nav__item{{ if eq .Section "developers" }} nav__item--active{{ end }}">Developers</a>
            <ul class="submenu"  aria-label="submenu">
                <li class="submenu__item"><a class="nav__item api-overview-nav" href="/developers/platform-overview/">Platform Overview</a></li>
                <li class="submenu__item"><a class="nav__item documentation-nav js-header-docs-link" href="https://docs.openaq.org">Developer Documentation</a></li>
                <li class="submenu__item"><a class="nav__item dev-use-case-nav" href="/use-cases/developer/">Developer Use Cases</a></li>
                <li class="submenu__item"><a class="nav__item help-nav" href="/developers/help/">Help</a></li>
            </ul>
            </li>
        <li class="dropdown"><a href="/about/" aria-haspopup="true" class="nav__item{{ if eq .Section "about" }} nav__item--active{{ end }}">About</a>
            <ul class="submenu" aria-label="submenu">
                <li class="submenu__item"><a class="nav__item about-nav" href="/about/">About Us</a></li>
                <li class="submenu__item"><a class="nav__item initiatives-nav" href="/about/initiatives/">Initiatives</a></li>
                <li class="submenu__item"><a class="nav__item people-nav" href="/about/people/">People</a></li>
                <li class="submenu__item"><a class="nav__item" rel="noopener noreferrer" target="_blank" href="https://openaq.medium.com">Blog</a></li>
                <li class="submenu__item"><a class="nav__item use-cases-nav" href="/use-cases/">Use Cases</a></li>
                <li class="submenu__item"><a class="nav__item reporting-nav" href="/about/legal/">Legal & Policies</a></li>
            </ul>
        </li>
    </ul>
    
</nav>
    <a href="https://secure.givelively.org/donate/openaq-inc/" class="btn btn-primary donate-btn js-header-donate-btn" target="_blank" rel="noreferrer noopener">Donate</a>
    </div>
</header>