<head>
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="author" content="OpenAQ" />
    <meta name="description" content="OpenAQ homepage" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    
    {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options}}
    {{ $secureStyle := $style | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $secureStyle.RelPermalink }}" integrity="{{ $secureStyle.Data.Integrity }}">

    <title>{{ .Site.Title }}</title>
 </head>