<div class="hero-image">
    <div class="bubble-lg"></div>
    <div class="bubble-md"></div>
    <div class="bubble-sm"></div>
    <img src="/img/hero.webp" alt="" class="hero-image__img">
    <div class="active-marker">
        <span>58</span>
    </div>
    <div class="detail-card">
        <header class="detail-card__header">
            <h3 class="type-heading-3 text-white">McMillan Reservoir</h3>
        </header>
        <section class="detail-card-section">
            <div>
                <span class="type-body-2">Washington DC, </span><span class="type-body-3">US</span>
            </div>
        </section>
        <section class="detail-card-section detail-card-section-grid">
            <span class="type-subtitle-3">Type</span>
            <span class="type-body-1">Monitor</span>
            <span class="type-subtitle-3">Measures</span>
            <span class="type-body-1">PM2.5 (µg/m³), PM10 (µg/m³), SO₂ (ppb)  , O₃ (ppb), CO (ppb), BC (µg/m³), NO₂ (ppb)</span>
        </section>
        <section class="detail-card-section detail-card-section-grid">
            <span class="type-subtitle-3">Provider:</span>
            <span class="type-body-1">US EPA AirNow
            </span>
            <span class="type-subtitle-3">Reporting:
            </span>
            <span class="type-body-1">Updated 3 hours ago</span>
            <span></span>
            <span class="type-body-4">Since 26/04/2016
            </span>
        </section>
        <section class="detail-card-section">
            <div class="latest-readings-title">
                <span class="type-subtitle-3">Latest readings</span> <span class="type-body-2 text-smoke-100">13:22 (local time)</span>
            </div>
            <div class="latest-readings-grid">
                <span class="type-subtitle-3">PM2.5</span><div><span class="type-body-3 text-lavender-100">7</span><span class="type-body-1"> µg/m³</span></div><div></div>
                <span class="type-subtitle-3">PM10</span><div><span class="type-body-3 text-lavender-100">24</span><span class="type-body-1"> µg/m³</span></div><div></div>
                <span class="type-subtitle-3">BC</span><div><span class="type-body-3 text-lavender-100">0.25</span><span class="type-body-1"> µg/m³</span></div><div></div>
                <span class="type-subtitle-3">O₃</span><div><span class="type-body-3 text-lavender-100">22</span><span class="type-body-1"> ppb</span></div><div></div>
                <span class="type-subtitle-3">NO₂</span><div><span class="type-body-3 text-lavender-100">11</span><span class="type-body-1"> ppb</span></div><div></div>
                <span class="type-subtitle-3">SO₂</span><div><span class="type-body-3 text-lavender-100">1.00</span><span class="type-body-1"> ppb</span></div><div></div>
                <span class="type-subtitle-3">CO</span><div><span class="type-body-3 text-lavender-100">300</span><span class="type-body-1"> ppb</span></div><div></div>
            </div>
        </section>
    </div>
</div>