{{ $tag := newScratch }}
{{ if eq (. | lower) "api" }}
    {{ $tag.Set "class" "chip-base-data" }}
    {{ $tag.Set "icon" "data_object--ocean120" }}
{{ else if eq (. | lower) "community" }}
    {{ $tag.Set "class" "chip-base-interactive" }}
    {{ $tag.Set "icon" "diversity--lavender100" }}
{{ else }}
    {{ $tag.Set "class" "chip-brand" }}
    {{ $tag.Set "icon" "note" }}
{{ end }}
<a 
class="{{ $tag.Get "class" }}"
href="/use-cases/{{ . | urlize }}">
    {{ . }}
    <span class="chip-icon">
        <img src="/icons/{{$tag.Get "icon" }}.svg" alt="icon">
    </span>
</a>