{{ $tag := newScratch }}
{{ if eq (. | lower) "api" }}
    {{ $tag.Set "class" "chip-base-data" }}
    {{ $tag.Set "icon" "data-object--ocean120" }}
{{ else if eq (. | lower) "community" }}
    {{ $tag.Set "class" "chip-base-interactive" }}
    {{ $tag.Set "icon" "diversity--lavender100" }}
{{ else if eq (. | lower) "health" }}
    {{ $tag.Set "class" "chip-brand" }}
    {{ $tag.Set "icon" "health--sky120" }}
{{ else if eq (. | lower) "media" }}
    {{ $tag.Set "class" "media-chip" }}
    {{ $tag.Set "icon" "newspaper--mantis120" }}
{{ else if eq (. | lower) "climate" }}
    {{ $tag.Set "class" "climate-chip" }}
    {{ $tag.Set "icon" "climate--corn120" }}
{{ else }}
    {{ $tag.Set "class" "chip-base-data" }}
    {{ $tag.Set "icon" "help--smoke100" }}
{{ end }}

<a 
class="{{ $tag.Get "class" }}"
href="/use-cases/{{ . | urlize }}">
    {{ . }}
    <span class="chip-icon">
        <img src="/icons/{{$tag.Get "icon" }}.svg" alt="icon">
    </span>
</a>
