<article class="use-case-card" data-card-slug="{{ .File.BaseFileName | urlize }}">
    <a href="{{ .Permalink }}">
        {{ partial "use-case-card-image" (dict "context" . "global" $) }}
    </a>
    <div class="use-case-card__body">
        <a href="{{ .Permalink }}">
            <h2 class="type-heading-2">{{ .Title }}</h2>
            <div class="use-case-description">
                {{ .Summary | truncate 220 " ... read more" }}
            </div>
        </a>
        <div class="use-case-tags">
            {{ range .Params.tags }}
                {{ partial "tag-chip" . }}
            {{ end }}
        </div>
    </div>
</article>