{{ define "main" }}
{{ partial "breadcrumbs" . }}

<div class="contact-content">
    {{ partial "bubbles" }}
    <div class="contact-content-container">
        <div>
            <h2 class="type-header-2">Mailing address</h2>
            <p>
                OpenAQ<br/>
                4301 50th Street NW<br/>
                Suite 300 PMB 1046<br/>
                Washington, DC 20016-4364
            </p>
        </div>
        <div>
            <h2 class="type-header-2">Email</h2>
            <a class="type-link-1" href="mailto:info@openaq.org">info@openaq.org</a>
        </div>

    </div>
  
</div>
{{ partial "community-banner" . }}
{{ partial "explore-banner" . }}
{{ end }}