/* ==========================================================================
   Donate: Content
   ========================================================================== */

   .page--donate {
     .inpage__headline {
        @include media(large-up) {
          grid-column: 1 / span 8;
        }
      }

      .fold {
        margin-top: 5rem;
        @include media(medium-up) {
          margin-top: 0rem;
          padding: 4rem 0;
        }
      }
      
      #donate-fold-story {
        background: none;
      }

      .donate-window {
        padding: 2.5rem 2rem;
        background-color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .donate-info-wrapper {
        background-color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .donate-header-info {
        padding: 0 1.5rem 2rem 1.5rem;
      }

      .donate-quote-content {
        color: black;
        padding: 2rem;
        margin: 2rem 0;
        span {
          font-size: 1.5rem;
          line-height: 1rem;
        }
      }

      .donate-quote-credit {
        text-align: right;
        margin: 0;
      }

      .aside-highlight__prose {
        font-size: 1.2rem;
        line-height: initial;
        font-style: italic;
        span {
          font-size: 1.5rem;
          line-height: 1.2rem;
        }
      }
    }

    /* ==========================================================================
   Donate: YouTube embed
   ========================================================================== */

    .video-responsive {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
    }
    
    .video-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  
  
  /* Fold: Intro
     ========================================================================== */
  
  #donate-fold-intro {
    > .inner {
      grid-gap: 2rem;
  
      @include media(large-up) {
        grid-gap: 4rem 2rem;
      }
    }
  }
  
  .principles-list {
    grid-row: 2;
    grid-column: 1 / -1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  
    @include media(medium-up) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include media(large-up) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .card {
      height: 100%;
    }
  }
  
  .card--principle {
    text-align: center;
  
    @include media(large-up) {
      min-height: 20rem;
    }
  
    .card__headline {
      justify-content: center;
    }
  
    .card__header {
      display: block;
      padding-top: 0;
      padding-bottom: $global-spacing / 2;
    }
  
    .card__title {
      &::before {
        display: block;
        font-size: 2rem;
        line-height: 1;
        margin-bottom: $global-spacing / 2;
        color: $primary-color;
  
        @include media(large-up) {
          margin-bottom: $global-spacing;
        }
      }
    }
  
    .card__media {
      display: flex;
      justify-content: center;
      padding-top: $global-spacing * 3;
    }
  
    .card__badge {
      width: 3rem;
      height: 3rem;
  
      img {
        width: 100%;
      }
    }
  }
  
  
  /* Fold: Story
     ========================================================================== */
  
  #donate-fold-story {
    > .inner {
      position: relative;
  
      > * {
        position: relative;
        z-index: 2;
      }
  
      &::before {
        position: absolute;
        top: (-$global-spacing * 4);
        bottom: ($global-spacing * 2);
        content: '';
        background: tint($base-color, 96%);
  
        @include media(medium-up) {
          top: (-$global-spacing * 6);
          bottom: (-$global-spacing * 6);
          left: ($global-spacing * 8);
        }
  
        @include media(large-up) {
          top: (-$global-spacing * 8);
          bottom: (-$global-spacing * 8);
          left: ($global-spacing * 16);
        }
      }
    }
  
    .fold__media {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
    }
  
    .aside-highlight {
      max-width: none;
      grid-column: 1 / span 6;
      
      @include media(medium-up) {
        grid-column: 2 / span 4;
        // grid-column: 1 / span 6;
      }
  
      @include media(large-up) {
        grid-column: 1 / span 6;
      }
    }
  }
  
  
  /* Fold: Board
     ========================================================================== */
  
  #donate-fold-main-board,
  #donate-fold-advisory-board  {
    > .inner {
      grid-gap: 2rem;
  
      @include media(large-up) {
        grid-gap: 4rem 2rem;
      }
    }
  
    .fold__header {
      grid-row: 1;
      grid-column: 1 / -1;
      text-align: left;
  
      @include media(medium-up) {
        grid-column: 1 / span 4;
        text-align: left;
      }
  
      @include media(large-up) {
        grid-column: 1 / span 6;
        text-align: left;
      }
    }
  }
  
  .team-list {
    grid-row: 2;
    grid-column: 1 / -1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  
    @include media(small-up) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include media(medium-up) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .team-member {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    > *:last-child {
      margin-bottom: 0;
    }
  }
  
  .team-member__avatar {
    overflow: hidden;
    width: 100%;
    max-width: 10rem;
    margin: 0 0 $global-spacing 0;
    border-radius: $full-border-radius;
  
    img {
      display: inline-flex;
      vertical-align: top;
      width: 100%;
      height: auto;
    }
  }
  
  .team-member__title {
    @include heading(1.25rem);
    margin: 0 0 0.25rem 0;
  }
  