---

import BaseLayout from '@layouts/BaseLayout.astro';



---

<style lang="scss">

@use 'openaq-design-system/scss/bubbles';


.page-404 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);

  .bubble-lg {
    z-index: -1;
    position: absolute;
    left: -100px;
    top: 30px;
  }

  .bubble-sm {
    z-index: -1;

    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

</style>
<BaseLayout>
<section class="page-404">
    <div class="bubble-lg"></div>
    <div class="bubble-sm"></div>
    <h1 class="type-heading-1">Uh oh! we can't find the page you've requested</h1>
</section>
</BaseLayout>