/* ==========================================================================
   Countries: Content
   ========================================================================== */

.page--countries {
  .inpage__headline {
    @include media(large-up) {
      grid-column: 1 / span 8;
    }
  }
}

.country-list {
  grid-column: 1 / span 12;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;

  @include media(medium-up) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(large-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    height: 100%;
  }
}
