/* ==========================================================================
   Countries: Content
   ========================================================================== */

.countries-list {
  .card {
    @include col(12/12);
    margin-top: 2rem;
    &:nth-child(1) {
      margin-top: 0;
    }
    
    @include media(medium-up) {
      @include col(6/12, $cycle: 2);
      &:nth-child(2) {
        margin-top: 0;
      }
    }
    
    @include media(large-up) {
      @include col(4/12, $cycle: 3);
      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}