---
import DataObjectIcon from "@assets/images/data_object.svg";
import HealthIcon from "@assets/images/health.svg";
import DiversityIcon from "@assets/images/diversity.svg";
import NewspaperIcon from "@assets/images/newspaper.svg";

const { tag } = Astro.props;

let icon;
let iconClass = ""

switch (tag) {
  case 'api':
    icon = <DataObjectIcon />;
    iconClass = 'api-icon';
    break;
  case 'community':
    icon = <DiversityIcon />;
    iconClass = 'diversity-icon'
    break;
  case 'health':
    icon = <HealthIcon />;
    iconClass = 'health-icon'
    break;
  case 'media':
    icon = <NewspaperIcon />;
    iconClass = 'newspaper-icon'
    break;


}

---

<style>
  .chip-wrapper {
  }
  .chip-icon {
    width: 16px;
    height: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    transform: translateY(-1px);
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    vertical-align: middle;
  }

  .chip-base-data {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 44px;
    width: auto;
    align-items: center;
    background-color: #e6f8f8;
    border-radius: 100px;
    color: #30363c;
    color: #33a3a1;
    display: inline-flex;
    font-family:
      Space Grotesk,
      sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    gap: 10px;
    margin: 0;
    padding: 11.5px 20px;
    text-decoration: none;
  }

  .diversity-icon {
    color: #dedafb;
  }

  .health-icon {
    color: #eef7ff;
  }

  .media-icon {
    color: #e3f3e3;
  }

  .api-icon {
    color: #e6f8f8;
  }

  .
</style>

<div class="chip-wrapper">
  <a href="" class="chip-base-data">
    <span class=`chip-icon ${iconClass}`>
      {icon}
    </span>
    <span>{tag}</span>
  </a>
</div>
