---
import { Image } from 'astro:assets';
import delhiMap from '@assets/images/delhi.jpg';
import quezonMap from '@assets/images/quezon_city.jpg';
import buenosAiresMap from '@assets/images/buenos_aires.jpg';
import accraMap from '@assets/images/accra.jpg';
import jakartaMap from '@assets/images/jakarta.jpg';


const images = [
  { name: 'Map of Delhi, India', image: delhiMap },
  { name: 'Map of Quezon City, Philippines', image: quezonMap },
  { name: 'Map of Buenos Aires, Argentina', image: buenosAiresMap },
  { name: 'Map of Accra, Ghana', image: accraMap },
  {name: 'Map of Jakarta, Indonesia',image: jakartaMap}
];
const image = images[Math.floor(Math.random() * images.length)];
---

<style lang="scss">
  @use 'openaq-design-system/scss/mixins/index.scss' as mixins;
  @use 'openaq-design-system/scss/inputs/search.scss';

  .explore-banner {
    width: 100%;
    height: 200px;
    position: relative;

    &__input-link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;

      .search-input {
        @include mixins.box-shadow;
        width: 100%;
        line-height: 22px;
      }
    }

    &__img {
      overflow: hidden;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
</style>

<section class="explore-banner">
  <Image class="explore-banner__img" src={image.image} alt={image.name} />
  <a 
    href="https://explore.openaq.org" 
    class="explore-banner__input-link"
    aria-label="Search for air quality data"
  >
    <input
      type="text"
      class="search-input"
      placeholder="Search for air quality data"
      aria-hidden="true"
    />
  </a>
</section>
