---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1];
import Logo from "@assets/logo.svg";
---

<style lang="scss">
  @use "openaq-design-system/scss/variables" as variables;
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;
  @use "openaq-design-system/scss/header";
  @use "openaq-design-system/scss/buttons";

  .header {
    padding: 0 40px;
    z-index: 1000;
  }

  .header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .spacer {
    display: none;
  }

  .donate-btn {
    @extend .btn;
    @extend .btn-primary;
  }

  #menu-toggle {
    display: none;
  }
  .account-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;

    &__item {
      @include mixins.navigation1;
      padding: 8px 0;
      margin: 0 12px;

      &--active {
        color: variables.$sky100;
        border-bottom: variables.$ocean100 solid 2px;
      }
    }
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button {
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  .submenu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 320px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    top: 10px;
    left: 0;
    display: none;

    &:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    &__item {
      height: 24px;
      margin: 12px;
    }
  }

  .dropdown {
    position: relative;
    background-color: white;

    &:hover {
      .submenu {
        background-color: white;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        display: block;
        border: 1px solid #eaecf0;
        border-radius: 12px;
      }
    }
  }

  @media (max-width: 1000px) {
    $header-height: 60px;

    .header {
      height: $header-height;
      padding: 0 40px;
    }

    .menu-button-container {
      input {
        display: none;
      }
    }

    .spacer {
      display: block;
      order: 3;
      width: 30px;
    }

    .header-logo {
      justify-content: center;
      order: 2;
    }
    .nav {
      order: 1;
    }

    .donate-btn {
      display: none;
    }

    .menu-button-container {
      display: flex;
    }
    .nav-list {
      display: none;
      position: absolute;
      top: 0;
      margin-top: $header-height;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;

      &--visible {
        display: flex;
      }

      & > li {
        overflow: hidden;
      }
    }

    .dropdown {
      position: relative;
      background-color: white;

      &:hover {
        .submenu {
          z-index: 1000;
          display: flex;
          border: none;
          border-radius: 0;
        }
      }

      & > a {
        display: none;
      }

      & {
        .submenu {
          background-color: white;
          visibility: visible;
          position: static;
          margin: 0;
          opacity: 1;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;

          &:hover {
            display: flex;
          }

          &__item {
            display: flex;
            height: auto;
            width: 100%;
            margin: 0;
            justify-content: center;
            border: 1px solid #eaecf0;
          }
        }
      }
    }
    #menu-toggle:checked ~ .nav-list {
      display: flex;
    }

    #menu-toggle ~ .nav-list > li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .nav-list > li {
      border: 1px solid variables.$smoke10;
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .nav-list > li {
      z-index: 1000;
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      background-color: white;
    }
    .nav-list > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  .list-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logout-form {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .logout-btn {
    @include mixins.body3;
    background: none;
    color: variables.$smoke120;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

  .settings-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }
</style>

<header class="header">
  <div class="header-contents">
    <a href="/" class="header-logo" aria-label="openaq logo">
      <Logo width="72" height="40" aria-label="OpenAQ logo" />
    </a>
    <div class="spacer"></div>
    <nav class="nav">
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#000000"
            ><path
              d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
            ></path></svg
          >
        </div>
      </label>
      <ul class="nav-list">
        <li>
          <a
            class="nav__item explore-data-tab"
            href="https://explore.openaq.org">Explore the data</a
          >
        </li>
        <li>
          <a
            href="/why-air-quality"
            class=`nav__item air-quality-tab ${currentPath === "why-air-quality" ? "nav__item--active" : ""}`
            >Why air quality?</a
          >
        </li>
        <li>
          <a
            href="/why-open-data"
            class=`nav__item open-data-tab ${currentPath === "why-open-data" ? "nav__item--active" : ""}`
            >Why open data?</a
          >
        </li>
        <li>
          <a
            href="/partners"
            class=`nav__item partners-tab ${currentPath === "partners" ? "nav__item--active" : ""}`
            >Partners</a
          >
        </li>
        <li class="dropdown">
          <a
            href="/developers/platform-overview/"
            aria-haspopup="true"
            class=`nav__item ${currentPath === "developers" ? "nav__item--active" : ""}`
            >Developers</a
          >
          <ul class="submenu" aria-label="submenu">
            <li class="submenu__item">
              <a class="nav__item api-overview-nav" href="/developers/roadmap/"
                >Roadmap</a
              >
            </li>
            <li class="submenu__item">
              <a
                class="nav__item api-overview-nav"
                href="/developers/platform-overview/">Platform Overview</a
              >
            </li>
            <li class="submenu__item">
              <a
                class="nav__item documentation-nav js-header-docs-link"
                href="https://docs.openaq.org">Developer Documentation</a
              >
            </li>
            <li class="submenu__item">
              <a class="nav__item help-nav" href="/developers/help/">Help</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a
            href="/about/"
            aria-haspopup="true"
            class=`nav__item ${currentPath === "about" ? "nav__item--active" : ""}`
            >About</a
          >
          <ul class="submenu" aria-label="submenu">
            <li class="submenu__item">
              <a class="nav__item about-nav" href="/about/">About Us</a>
            </li>
            <li class="submenu__item">
              <a class="nav__item initiatives-nav" href="/about/initiatives/"
                >Initiatives</a
              >
            </li>
            <li class="submenu__item">
              <a class="nav__item people-nav" href="/about/people/">People</a>
            </li>
            <li class="submenu__item">
              <a class="nav__item sponsers-nav" href="/about/sponsor/"
                >Sponsor us</a
              >
            </li>
            <li class="submenu__item">
              <a
                class="nav__item"
                rel="noopener noreferrer"
                target="_blank"
                href="https://openaq.medium.com">Blog</a
              >
            </li>
            <li class="submenu__item">
              <a class="nav__item use-cases-nav" href="/about/use-cases/"
                >Use Cases</a
              >
            </li>
            <li class="submenu__item">
              <a class="nav__item reporting-nav" href="/about/legal/"
                >Legal & Policies</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <a
      href="https://secure.givelively.org/donate/openaq-inc/"
      class="donate-btn js-header-donate-btn"
      target="_blank"
      rel="noreferrer noopener">Donate</a
    >
  </div>
</header>
