{{/*  font and title color changing @Russ  */}}
<article class="initiative-card">
    <div class="initiative-card-img">
        <a href="{{ .Permalink }}">
            {{ partial "initiative-card-image" (dict "context" . "global" $ "class" "initiative-card") }}
        </a>
    </div>
        <div class="initiative-description">
            <h2 class="inititiative-description__title">{{ .Title }}</h2>
            <div class="initiative-description__body">
                <a href="{{ .Permalink }}">
                    {{ .Summary | truncate 300 " read more..." }}
                </a>
            </div>
        </div>
</article>