<article class="board-card">
  {{ partial  "person-image" (dict "context" . "global" $ "class" "board-card") }}
    <div class="board-card__description">
      <h2 class="person-name">{{ .Params.title}}</h2>
      <h3 class="person-title">
        {{ if isset .Params "position" }}
          {{ .Params.position }}
        {{ else }}
          Member at large
        {{ end }}
      </h3>
      <p class="person-bio">{{ .Summary | truncate 350 }}</p>
      {{ .Render "person-social" }}
    </div>
  </article>
  