<div class="person-social">
    {{with .Params.x}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/X_logo.svg" height="13" width="15" alt="X icon">
    </a>
    {{end}} 
    {{with .Params.bluesky}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/bluesky_logo.svg" height="15" width="15" alt="bluesky icon">
    </a>
    {{end}} 
    {{with .Params.mastadon}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/mastadon.svg" height="15" width="15" alt="mastodon icon">
    </a>
    {{end}} 
    {{with .Params.linkedin}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/linkedin_sm.svg"  height="15" width="15" alt="linkedin icon">
    </a>
    {{end}} 
    {{with .Params.github}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/github_sm.svg"  height="15" width="15" alt="github icon">
    </a>
    {{end}}

    {{with .Params.email}}
    <a href="mailto:{{ . | safeURL }}">
        <img src="/svg/mail.svg"  height="12" width="15" alt="email icon">
    </a>
    {{end}}
    {{with .Params.google_scholar}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/google_scholar.svg" height="15" width="15" alt="google scholar icon">
    </a>
    {{end}} 
    {{with .Params.orcid}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/orcid.svg"  height="15" width="15" alt="orcid icon">
    </a>
    {{end}} 
    {{with .Params.researchgate}}
    <a href="{{ . | safeURL }}" target="_blank" rel="noreferrer noopener">
      <img src="/svg/research_gate.svg" height="15" width="15" alt="research gate icon">
    </a>
    {{end}} 
  </div>