<article class="team-card" data-testid="{{ .File.BaseFileName | urlize }}">
    <a href="{{ .Permalink }}">
        {{ partial  "person-image" (dict "context" . "global" $ "class" "team-card") }}
        <div class="team-card__description">
            <h2 class="person-name">{{ with .Params.honorific }}{{ . }} {{ end }}{{ .Title }}</h2>
            <h3 class="person-title">{{ .Params.position }}</h3>
            <p class="person-bio">{{ .Summary | truncate 300 }}</p>
    </a>
    {{ .Render "person-social" }}
  </div>
</article>
