---
import PageLayout from "@layouts/PageLayout.astro";
import { Content } from "../../data/initiatives.md";
import { getCollection } from "astro:content";
import InitiativeCard from "@components/initiatives/InitiativeCard.astro";
import type { CollectionEntry } from "astro:content";
console.log("🚀 Page is loading...");
const allInitiatives = await getCollection("initiatives");
console.log("✅ All initiatives:", allInitiatives);

const sortByName = (
  a: CollectionEntry<"initiatives">,
  b: CollectionEntry<"initiatives">
) => a.data.title.localeCompare(b.data.title);
---

<!-- <style lang="scss">
  .initiative-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    width: 800px;
    z-index: 2;
  }
</style> -->
<PageLayout>
  <h1 class="gradient-title">Initiatives</h1>
  <section class="initiative-grid">
    {
      allInitiatives
        .sort(sortByName)
        .map((initiative) => (
          <InitiativeCard
            url={`/about/people/${initiative.id}/`}
            name={initiative.data.name}
            title={initiative.data.title}
            portrait={initiative.data.image}
          />
        ))
    }
  </section>
</PageLayout>
