{{ define "main" }}
{{ partial "breadcrumbs" . }}
<div class="partners-content">
    <div class="bubble-lg"></div>
    <div class="bubble-sm"></div>
    <div class="partners-content-container">
    <section class="partners-section">
        <h1 class="type-display-1 gradient-title">Partners</h1>
        <div class="partners-grid">
            <article class="partner-card">
                <div class="partner-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
                <p class="partner-card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article class="partner-card">
                <img class="partner-card__img" src="{{ .Params.logo }}" alt="">
                <p class="partner-card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article class="partner-card">
                <img class="partner-card__img" src="{{ .Params.logo }}" alt="">
                <p class="partner-card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
        </div>
    </section>
    <section class="funders-section">
        <h1 class="type-display-1 gradient-title">Funders</h1>
        <div class="funders-grid">
            <article class="funders-card">
                <div class="funders-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
            </article>            <article class="funders-card">
                <div class="funders-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
            </article>            <article class="funders-card">
                <div class="funders-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
            </article>            <article class="funders-card">
                <div class="funders-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
            </article>            <article class="funders-card">
                <div class="funders-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
            </article>            <article class="funders-card">
                <div class="funders-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
            </article>
            <article class="funders-card">
                <div class="funders-card__img">
                    <img src="https://via.placeholder.com/250x50" alt="">
                </div>
            </article>

        </div>
    </section>
</div>
</div>

{{ end }}