---
import HelpItem from "@components/HelpItem.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { frontmatter } from "@content/developers/helpIndex/help.md";
import ExplorerBanner from "@components/ExplorerBanner.astro";

const allFAQs = await getCollection("help");
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;
  @use "openaq-design-system/scss/utilities/index.scss" as utilities;

  .help-content {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 0 40px 0;

    &-container {
      width: 1000px;
      z-index: 2;
      margin: 0 0 120px 0;
    }

    .help-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding: 20px 0;
    }

    @media (max-width: 1000px) {
      & {
        &-container {
          width: 800px;
        }
      }
    }

    @media (max-width: 800px) {
      & {
        &-container {
          width: 400px;
        }
      }
    }
  }
</style>
<PageLayout pageTitle={frontmatter.title}>
  <div class="help-content">
    <div class="help-content-container">
      <h1 class="type-display-1 gradient-title">{frontmatter.title}</h1>
      <section class="help-items">
        {allFAQs.map((FAQ) => <HelpItem title={FAQ.data.title} FAQ={FAQ} />)}
      </section>
    </div>
  </div>
  <ExplorerBanner slot="banner-low" />
</PageLayout>
