/* ==========================================================================
   Community: Projects
   ========================================================================== */

.page--community-projects {
  .inpage__headline {
    @include media(large-up) {
      grid-column: 1 / span 8;
    }
  }
}


/* Fold: Projects
   ========================================================================== */

#community-fold-projects {
  > .inner {
    @include media(large-up) {
      grid-gap: 4rem 2rem;
    }
  }

  .fold__header {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  .fold__title {
    @extend .visually-hidden;
  }
}

.project-list {
  grid-row: 2;
  grid-column: 1 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;

  @include media(medium-up) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(large-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    height: 100%;
  }
}

.card--project {
  .card__title {
    @extend .visually-hidden;
  }

  .card__subtitle {
    color: $primary-color;
  }

  .card__prose {
    @include heading(1.25rem, medium-up);
    color: $base-color;
  }

  .card__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
      margin-left: auto;
      max-height: 1.5rem;
      width: auto;
    }
  }
}
