---
import BaseLayout from "@layouts/BaseLayout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import Bubbles from "@components/Bubbles.astro";

const { pageTitle } = Astro.props;
---

<style lang="scss">
  .content {
    min-height: 100vh;
    width: 800px;
    margin: 0 auto;
    z-index: 2;

    :global(h1) {
      margin-right: auto;
    }
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 65%;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>

<BaseLayout>
  <Breadcrumb />

  <Bubbles />

  <div class="content">
    <h1 class="type-display-1 gradient-title">{pageTitle}</h1>
    <slot />
  </div>
  <slot name="banner" slot="banner" />
  <slot name="banner-low" slot="banner-low" />
</BaseLayout>
