---
import SocialBanner from "@components/SocialBanner.astro";
import SingleArticleLayout from "@layouts/SingleArticleLayout.astro";
---

<SingleArticleLayout>
    <h1 class="gradient-title">Why air quality?</h1>
    <SocialBanner slot="banner" />
</SingleArticleLayout>