/* ==========================================================================
   Individual Location: Content
   ========================================================================== */
.page--location {
  .inpage__actions ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    li {
      float: left;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      @include media(medium-up) {
        margin-bottom: 0;
      }
    }
  }
}

#location-source {
  padding: 2rem;

  .fold__header {
    @extend .visually-hidden;
  }
  .fold__body {
    @extend .clearfix;

    p {
      margin-bottom: 0;
    }
  }
    @include media(medium-up) {
    .col-main {
      padding-right: 1rem;
      padding-bottom: .5rem;
      @include col(4/12);
    }
    .col-sec {
      @include col(8/12);
    }
}

  .sources__list {
    padding: 0;
    list-style: none;
    li{
      margin-bottom: .3rem;
    }
  }
}

#location-stats {
  .col-main {
    dl {
      margin-bottom: 0.5rem;
    }
  }
  .col-sec {
    .heading-alt {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
  }

  @include media(medium-up) {
    .fold__body {
      display: flex;
    }
    .col-main {
      box-shadow: 2px 0 0 0 $base-alpha-color;
      @include span(3/12);
    }
    .col-sec {
      @include span(8/12, $offset: 1/12);

      .heading-alt {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.measurements-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 1rem;
    margin-right: 2rem;

    &:nth-child(even) {
      clear: right;
    }

    @include media(medium-up) {
      width: 40%;
      float: left;
    }
  }

  strong {
    display: block;
  }
}

#location-nearby {
  .fold__body {
    position: relative;
    z-index: 1;
    height: 30rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
