/* ==========================================================================
   Location: Measurement Chart
   ========================================================================== */

.location-measurement-chart {
  height: 20rem;

  .axis {
    text {
      fill: rgba($base-font-color, 0.64);
      font-size: 0.75rem;
    }
    .domain {
      stroke: rgba($base-font-color, 0.24);
      stroke-width: 1px
    }
  }
  .location-data {
    circle {
      opacity: 0.64;
      fill: $infographic-color-a;
    }
  }
}

