/* ==========================================================================
   Country: Content
   ========================================================================== */

.page--country {
  .inpage__title {
    margin-bottom: 0.5rem;
  }
  .country-stats {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;

    @include media(medium-up) {
      font-size: 1.25rem;
    }

    li {
      float: left;
      margin-right: 2rem;
    }
  }

  .inpage__aside {
    box-shadow: none;
  }
}

.card-group {
  padding-bottom: 2rem;
  margin-bottom: 2rem; 
  box-shadow: 0 2px 0 0 $base-alpha-color;

  &:last-child {
    margin-bottom: 0;
    box-shadow: none;
  }

  &__contents {
    @extend .clearfix;
  }

  &__header {
    @extend .clearfix;

    h2 {
      margin-bottom: 0.5rem;  
    }
    .card-group__actions {
      margin-bottom: 1rem;
    }

    @include media(medium-up) {
      .card-group__actions {
        float: right;
      }

      h2 {
        float: left;
        margin-bottom: 1rem;
      }
    }
  }
}

#country-data-fold {
  padding: 0;
}
