name: Links

on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      
      - name: Install npm dependencies
        run: yarn install
      
      - name: Build
        uses: openaq/hugo-build-action@main     

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1
        with:
            args: --base ./public './**/*.html'

      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue